# Merging, Joining and Concatenating

### 1. Intro to the Merging, Joining, and Concatenating Module

In [1]:
import pandas as pd

In [5]:
week1 = pd.read_csv("../00_Datasers/Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("../00_Datasers/Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("../00_Datasers/Restaurant - Customers.csv")
foods = pd.read_csv("../00_Datasers/Restaurant - Foods.csv")

### 2. The pd.concat() Method, Part 1

In [6]:
len(week1)

250

In [7]:
len(week2)

250

In [9]:
len(pd.concat([week1, week2]))

500

In [11]:
pd.concat([week1, week2], ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
470          495        2
471          794        6
472          734       10
473          540        3
474          735        2
475          940        8
476          571        7
477          888        2
478          664        6
479          343        7
480          143        4
481          505        3
482           54        8
483          959        2
484          367        8
485          883        8
486          251        9
487          855        4
488          233        3
489          559       10
490          734        1
491          677        3
492          276        4
493           45        8
494          945        4
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

### 3. The pd.concat() Method, Part 2

<b>NOTE:</b> If we want to be able to distinguish between datasets.

In [15]:
sales = pd.concat([week1, week2], keys = ["A", "B"])

In [17]:
sales.ix[("A", 240)]

Customer ID    945
Food ID          5
Name: (A, 240), dtype: int64

### 4. The .append() Method

In [21]:
sales = week2.append(week1, ignore_index=True)

### 5. Inner Joins, Part 1

In [22]:
week1.head(2)

   Customer ID  Food ID
0          537        9
1           97        4

In [23]:
week2.head(2)

   Customer ID  Food ID
0          688       10
1          813        7

In [27]:
week1.merge(week2, how = "inner", on = "Customer ID", suffixes=[" - Week 1", " - Week 2"])

    Customer ID  Food ID - Week 1  Food ID - Week 2
0           537                 9                 5
1           155                 9                 3
2           155                 1                 3
3           503                 5                 8
4           503                 5                 9
5           550                 6                 7
6           101                 7                 4
7            75                 6                 4
8            77                 1                 7
9            77                 9                 7
10           77                 2                 7
11           77                 9                 7
12          628                 4                 7
13          798                 9                 5
14          798                 1                 5
15          462                 3                 8
16          304                 3                 3
17          304                 2                 3
18          189                 4                 5
19          799                 8                 7
20           30                 2                 4
21          249                 9                 6
22          677                10                 3
23          741                 3                 8
24          540                 3                 3
25          819                 4                 5
26          937                10                10
27          937                10                 2
28          233                 3                 3
29           21                 4                 4
..          ...               ...               ...
32          816                 7                 2
33          761                 9                 2
34          761                 9                 3
35           80                 2                 4
36          479                 6                 3
37          922                 1                 1
38          922                 1                 2
39          909                 1                 6
40          909                 4                 6
41          919                10                 8
42          574                10                 9
43           45                 7                 8
44          529                 7                10
45          673                 7                 4
46          310                 2                 5
47          310                 1                 5
48          867                 9                10
49          968                 1                 4
50          482                 3                 1
51          163                 1                10
52          321                 1                 3
53          783                 6                10
54          578                 5                 5
55          578                 5                 5
56          520                 8                 7
57          945                 5                 4
58          343                 3                 5
59          343                 3                 2
60          343                 3                 7
61          621                 9                 6

[62 rows x 3 columns]

In [25]:
week1[week1["Customer ID"] == 155]

    Customer ID  Food ID
4           155        9
17          155        1

In [26]:
week2[week2["Customer ID"] == 155]

     Customer ID  Food ID
208          155        3

### 6. Inner Joins, Part 2

In [28]:
week1.merge(week2, how = "inner", on = ["Customer ID", "Food ID"])

   Customer ID  Food ID
0          304        3
1          540        3
2          937       10
3          233        3
4           21        4
5           21        4
6          922        1
7          578        5
8          578        5

In [29]:
week1[week1["Customer ID"] == 21]

     Customer ID  Food ID
101           21        4
212           21        4

In [30]:
week2[week2["Customer ID"] == 21]

    Customer ID  Food ID
30           21        4

### 7. Outer Joins

In [38]:
merged = week1.merge(week2, 
            how = "outer", 
            on = "Customer ID", 
            suffixes=[" - Week 1", " - Week 2"],
            indicator = True)

In [39]:
merged.head()

   Customer ID  Food ID - Week 1  Food ID - Week 2     _merge
0          537               9.0               5.0       both
1           97               4.0               NaN  left_only
2          658               1.0               NaN  left_only
3          202               2.0               NaN  left_only
4          155               9.0               3.0       both

In [41]:
merged["_merge"].value_counts()

right_only    197
left_only     195
both           62
Name: _merge, dtype: int64

In [43]:
merged["_merge"].isin(["left_only", "right_only"])

0      False
1       True
2       True
3       True
4      False
5      False
6       True
7       True
8      False
9      False
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19      True
20      True
21     False
22     False
23      True
24     False
25      True
26      True
27      True
28      True
29      True
       ...
424     True
425     True
426     True
427     True
428     True
429     True
430     True
431     True
432     True
433     True
434     True
435     True
436     True
437     True
438     True
439     True
440     True
441     True
442     True
443     True
444     True
445     True
446     True
447     True
448     True
449     True
450     True
451     True
452     True
453     True
Name: _merge, Length: 454, dtype: bool

### 8. Left Joins

In [44]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [48]:
week1.merge(foods, how="left", on = "Food ID", sort=True)

     Customer ID  Food ID Food Item  Price
0            658        1     Sushi   3.99
1            600        1     Sushi   3.99
2            155        1     Sushi   3.99
3            341        1     Sushi   3.99
4             20        1     Sushi   3.99
5             77        1     Sushi   3.99
6            100        1     Sushi   3.99
7            953        1     Sushi   3.99
8            504        1     Sushi   3.99
9            323        1     Sushi   3.99
10           922        1     Sushi   3.99
11           909        1     Sushi   3.99
12           602        1     Sushi   3.99
13            74        1     Sushi   3.99
14           703        1     Sushi   3.99
15           962        1     Sushi   3.99
16           968        1     Sushi   3.99
17           190        1     Sushi   3.99
18           163        1     Sushi   3.99
19           321        1     Sushi   3.99
20           310        1     Sushi   3.99
21           798        1     Sushi   3.99
22            92        1     Sushi   3.99
23           646        1     Sushi   3.99
24           202        2   Burrito   9.99
25           288        2   Burrito   9.99
26           954        2   Burrito   9.99
27           203        2   Burrito   9.99
28           876        2   Burrito   9.99
29            30        2   Burrito   9.99
..           ...      ...       ...    ...
220           77        9     Donut   0.99
221          506        9     Donut   0.99
222          271        9     Donut   0.99
223          380        9     Donut   0.99
224          621        9     Donut   0.99
225          413        9     Donut   0.99
226          586       10     Drink   1.75
227          519       10     Drink   1.75
228          226       10     Drink   1.75
229          682       10     Drink   1.75
230          450       10     Drink   1.75
231          358       10     Drink   1.75
232          677       10     Drink   1.75
233          250       10     Drink   1.75
234          351       10     Drink   1.75
235          937       10     Drink   1.75
236           64       10     Drink   1.75
237          912       10     Drink   1.75
238          772       10     Drink   1.75
239          919       10     Drink   1.75
240          574       10     Drink   1.75
241          338       10     Drink   1.75
242          225       10     Drink   1.75
243          475       10     Drink   1.75
244           51       10     Drink   1.75
245          809       10     Drink   1.75
246          584       10     Drink   1.75
247          274       10     Drink   1.75
248          151       10     Drink   1.75
249          535       10     Drink   1.75

[250 rows x 4 columns]

### 9. The left_on and right_on Parameters

In [49]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [51]:
customers.head(3)

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive

In [55]:
week2.merge(customers, how = "left", left_on = "Customer ID", right_on = "ID", sort=True).drop("ID", axis="columns")

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation
0,8,6,Frances,Adams,Female,Dabshots,Developer III
1,13,2,Ruth,Alvarez,Female,Twitterlist,Mechanical Systems Engineer
2,21,4,Albert,Burns,Male,Rhynoodle,Junior Executive
3,24,8,Donna,Thomas,Female,Jaxbean,Chief Design Engineer
4,27,4,Jessica,Bennett,Female,Twitternation,Account Executive
5,30,4,Pamela,Hicks,Female,Ntags,Cost Accountant
6,35,8,Nicole,Chapman,Female,Pixonyx,Electrical Engineer
7,39,10,Teresa,Harrison,Female,Oba,Payment Adjustment Coordinator
8,45,8,Earl,Marshall,Male,Agivu,Dental Hygienist
9,46,6,Adam,Cole,Male,Trupe,Accountant III
10,54,8,Amanda,Berry,Female,Jaxspan,Automation Specialist III
11,55,9,Ralph,Ford,Male,Browsezoom,Safety Technician IV
12,55,4,Ralph,Ford,Male,Browsezoom,Safety Technician IV
13,56,3,Anne,Berry,Female,Twinder,VP Sales
14,70,2,Michelle,Bowman,Female,Gabvine,VP Marketing
15,73,8,Kenneth,Miller,Male,Vimbo,Senior Editor
16,75,4,Catherine,Carpenter,Female,Zoozzy,Marketing Manager
17,77,7,Lori,Edwards,Female,Dabvine,Sales Representative
18,80,4,George,Mason,Male,Jaxworks,Engineer I
19,81,10,Mildred,Fowler,Female,Fivechat,Operator
20,98,5,Jean,Mills,Female,Fivebridge,Product Engineer
21,101,4,Jeremy,Nelson,Male,Brainlounge,Web Developer IV
22,111,3,Patrick,Morrison,Male,Eimbee,Mechanical Systems Engineer
23,122,2,Martin,Hawkins,Male,Centizu,Assistant Manager
24,122,10,Martin,Hawkins,Male,Centizu,Assistant Manager
25,127,1,Jesse,Henderson,Male,Eabox,Environmental Tech
26,131,1,Margaret,Porter,Female,Eazzy,Sales Associate
27,132,8,Judith,Perez,Female,Jaxworks,Structural Engineer
28,136,1,Clarence,Fox,Male,Devshare,Graphic Designer
29,143,4,Christopher,Long,Male,Mybuzz,Accounting Assistant III
...,...,...,...,...,...,...,...
220,869,7,Paul,Carpenter,Male,Feedfire,Project Manager
221,877,10,Harry,Watkins,Male,Zoomdog,Computer Systems Analyst IV
222,883,8,Sarah,Kim,Female,Topicshots,Cost Accountant
223,884,7,Christine,Weaver,Female,Meevee,Data Coordiator
224,888,2,Jimmy,Wright,Male,Npath,Analog Circuit Design manager
225,893,3,Adam,Lynch,Male,Jaloo,Programmer IV
226,905,1,Richard,Fernandez,Male,Shuffletag,Librarian
227,909,6,Cheryl,Davis,Female,Edgeify,Health Coach IV
228,913,2,Ryan,Simmons,Male,Eabox,Senior Financial Analyst
229,919,8,Ronald,Welch,Male,Avamba,Help Desk Technician
230,922,1,Willie,Payne,Male,Devify,Assistant Media Planner
231,922,2,Willie,Payne,Male,Devify,Assistant Media Planner
232,927,4,Nicholas,Morris,Male,Linkbridge,Assistant Professor
233,928,10,Michael,Lopez,Male,Ailane,Nuclear Power Engineer
234,936,9,Matthew,Wagner,Male,Feedspan,Civil Engineer
235,937,10,Sharon,Mcdonald,Female,Eimbee,Recruiting Manager
236,937,2,Sharon,Mcdonald,Female,Eimbee,Recruiting Manager
237,938,10,Steven,Reyes,Male,Jaxnation,Technical Writer
238,940,8,Bonnie,Bowman,Female,Avavee,Internal Auditor
239,942,3,Deborah,Morgan,Female,Browsebug,Tax Accountant
240,945,4,Anne,Reed,Female,Twitterworks,Director of Sales
241,951,5,Angela,Sanders,Female,Dabtype,Research Assistant IV
242,957,10,Shawn,George,Male,Browseblab,GIS Technical Architect
243,959,4,Laura,Ferguson,Female,Pixonyx,Electrical Engineer
244,959,2,Laura,Ferguson,Female,Pixonyx,Electrical Engineer
245,968,4,Teresa,Reynolds,Female,Flashdog,Budget/Accounting Analyst IV
246,969,3,Marie,Ortiz,Female,Meejo,Research Associate
247,977,7,Cynthia,Dixon,Female,Skalith,Automation Specialist II
248,994,2,Clarence,Morgan,Male,Edgewire,Geologist II
249,996,10,Debra,Garcia,Female,Dazzlesphere,Structural Engineer

### 10. Merging by Indexes with left_index and right_index Parameters

In [56]:
week1 = pd.read_csv("../00_Datasers/Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("../00_Datasers/Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("../00_Datasers/Restaurant - Customers.csv", index_col="ID")
foods = pd.read_csv("../00_Datasers/Restaurant - Foods.csv", index_col="Food ID")

In [57]:
foods.head(3)

        Food Item  Price
Food ID
1           Sushi   3.99
2         Burrito   9.99
3            Taco   2.99

In [58]:
customers.head(3)

   First Name Last Name  Gender  Company                     Occupation
ID
1      Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
2    Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
3       Roger     Black    Male  Tagfeed              Account Executive

In [59]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [62]:
sales = week1. merge(customers, how = "left", left_on = "Customer ID", right_index=True)
sales.merge(foods, how = "left", left_on = "Food ID", right_index=True)

,Customer ID,Food ID,First Name,Last Name,Gender,Company,Occupation,Food Item,Price
0,537,9,Cheryl,Carroll,Female,Zoombeat,Registered Nurse,Donut,0.99
1,97,4,Amanda,Watkins,Female,Ozu,Account Coordinator,Quesadilla,4.25
2,658,1,Patrick,Webb,Male,Browsebug,Community Outreach Specialist,Sushi,3.99
3,202,2,Louis,Campbell,Male,Rhynoodle,Account Representative III,Burrito,9.99
4,155,9,Carolyn,Diaz,Female,Gigazoom,Database Administrator III,Donut,0.99
5,213,8,Keith,Foster,Male,Gigashots,VP Quality Control,Salad,11.25
6,600,1,Sandra,Bailey,Female,Jaxnation,Sales Associate,Sushi,3.99
7,503,5,Justin,Daniels,Male,Oloo,Environmental Tech,Pizza,2.49
8,71,3,Carolyn,Reyes,Female,Twimbo,Safety Technician IV,Taco,2.99
9,174,3,Anna,Miller,Female,Innojam,Developer I,Taco,2.99
10,961,9,Ralph,Richards,Male,Thoughtstorm,Accountant I,Donut,0.99
11,966,5,Robert,Ford,Male,Jabbertype,Account Representative IV,Pizza,2.49
12,641,4,Donna,Gutierrez,Female,Dabtype,Assistant Professor,Quesadilla,4.25
13,288,2,Kenneth,Jackson,Male,Voomm,Associate Professor,Burrito,9.99
14,149,4,Jennifer,Oliver,Female,Topiclounge,Database Administrator III,Quesadilla,4.25
15,954,2,Thomas,Perkins,Male,Roodel,Account Executive,Burrito,9.99
16,147,9,Theresa,Morales,Female,Abata,Occupational Therapist,Donut,0.99
17,155,1,Carolyn,Diaz,Female,Gigazoom,Database Administrator III,Sushi,3.99
18,550,6,Walter,Miller,Male,Yata,Payment Adjustment Coordinator,Pasta,13.99
19,101,7,Jeremy,Nelson,Male,Brainlounge,Web Developer IV,Steak,24.99
20,549,6,Harold,Rivera,Male,Topdrive,Cost Accountant,Pasta,13.99
21,75,6,Catherine,Carpenter,Female,Zoozzy,Marketing Manager,Pasta,13.99
22,78,7,Robert,Kennedy,Male,Edgewire,Chemical Engineer,Steak,24.99
23,514,5,Jack,Hill,Male,Blogtags,Assistant Professor,Pizza,2.49
24,833,7,Carolyn,Dunn,Female,Yadel,Recruiter,Steak,24.99
25,329,8,Amanda,Nguyen,Female,Meezzy,Associate Professor,Salad,11.25
26,586,10,Doris,Mcdonald,Female,Youfeed,Marketing Assistant,Drink,1.75
27,341,1,Rachel,Robinson,Female,Twinder,Safety Technician IV,Sushi,3.99
28,519,10,Lillian,Rogers,Female,Eazzy,Paralegal,Drink,1.75
29,680,9,Irene,Gordon,Female,Voolith,Database Administrator II,Donut,0.99
...,...,...,...,...,...,...,...,...,...
220,147,8,Theresa,Morales,Female,Abata,Occupational Therapist,Salad,11.25
221,745,4,Nicole,Garza,Female,Topiczoom,General Manager,Quesadilla,4.25
222,184,3,Jesse,Edwards,Male,Zoombeat,Administrative Officer,Taco,2.99
223,828,8,Mary,Payne,Female,Oyonder,Assistant Media Planner,Salad,11.25
224,578,5,Donald,Matthews,Male,Fiveclub,Physical Therapy Assistant,Pizza,2.49
225,491,4,Anna,Perkins,Female,Zazio,Quality Engineer,Quesadilla,4.25
226,62,4,Andrew,Tucker,Male,Leenti,Structural Analysis Engineer,Quesadilla,4.25
227,77,9,Lori,Edwards,Female,Dabvine,Sales Representative,Donut,0.99
228,506,9,Mildred,Mendoza,Female,Vitz,Environmental Tech,Donut,0.99
229,271,9,Beverly,Ward,Female,Brainbox,Automation Specialist II,Donut,0.99
230,584,10,Jeffrey,Simmons,Male,Flipstorm,Chemical Engineer,Drink,1.75
231,148,5,Patricia,Reid,Female,Shuffledrive,Analog Circuit Design manager,Pizza,2.49
232,595,3,Bruce,Kennedy,Male,Mydo,Recruiter,Taco,2.99
233,274,10,Gary,Reid,Male,Fivespan,Executive Secretary,Drink,1.75
234,646,1,Wanda,Lane,Female,Twiyo,Help Desk Technician,Sushi,3.99
235,520,8,Melissa,Wallace,Female,Skyvu,Administrative Officer,Salad,11.25
236,644,8,Louis,Brooks,Male,Nlounge,VP Quality Control,Salad,11.25
237,725,8,Carol,Russell,Female,BlogXS,Pharmacist,Salad,11.25
238,934,4,Joseph,Burton,Male,Leexo,Compensation Analyst,Quesadilla,4.25
239,151,10,Brandon,Oliver,Male,Voomm,Internal Auditor,Drink,1.75
240,945,5,Anne,Reed,Female,Twitterworks,Director of Sales,Pizza,2.49
241,343,3,Joe,Price,Male,Fanoodle,Marketing Manager,Taco,2.99
242,380,9,Martha,Payne,Female,Quinu,Assistant Media Planner,Donut,0.99
243,911,4,Patrick,Reed,Male,Jabberstorm,Senior Quality Engineer,Quesadilla,4.25
244,621,9,Amy,Long,Female,Skidoo,Research Associate,Donut,0.99
245,413,9,Diane,Bailey,Female,Wikibox,Technical Writer,Donut,0.99
246,926,6,Anne,Wagner,Female,Skyba,Legal Assistant,Pasta,13.99
247,134,3,Diana,Hall,Female,Quinu,Financial Advisor,Taco,2.99
248,396,6,Juan,Romero,Male,Zoonder,Analyst Programmer,Pasta,13.99
249,535,10,Nancy,Cox,Female,Trudeo,Research Associate,Drink,1.75

In [63]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [65]:
week2.head(3)

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10

In [66]:
week1.merge(week2, how = "left", left_index = True, right_index=True)

     Customer ID_x  Food ID_x  Customer ID_y  Food ID_y
0              537          9            688         10
1               97          4            813          7
2              658          1            495         10
3              202          2            189          5
4              155          9            267          3
5              213          8            310          5
6              600          1            761          2
7              503          5            443          5
8               71          3            729          9
9              174          3            741          8
10             961          9            847          6
11             966          5            156         10
12             641          4            550          7
13             288          2            620         10
14             149          4            272          4
15             954          2            511          2
16             147          9              8          6
17             155          1            534          7
18             550          6            909          6
19             101          7            732          9
20             549          6            372          4
21              75          6            713          1
22              78          7            496          3
23             514          5            381          9
24             833          7             13          2
25             329          8            101          4
26             586         10            325          7
27             341          1            674          2
28             519         10            564          8
29             680          9            578          5
..             ...        ...            ...        ...
220            147          8            495          2
221            745          4            794          6
222            184          3            734         10
223            828          8            540          3
224            578          5            735          2
225            491          4            940          8
226             62          4            571          7
227             77          9            888          2
228            506          9            664          6
229            271          9            343          7
230            584         10            143          4
231            148          5            505          3
232            595          3             54          8
233            274         10            959          2
234            646          1            367          8
235            520          8            883          8
236            644          8            251          9
237            725          8            855          4
238            934          4            233          3
239            151         10            559         10
240            945          5            734          1
241            343          3            677          3
242            380          9            276          4
243            911          4             45          8
244            621          9            945          4
245            413          9            783         10
246            926          6            556         10
247            134          3            547          9
248            396          6            252          9
249            535         10            249          6

[250 rows x 4 columns]

### 11. The .join() Method

In [67]:
week1 = pd.read_csv("../00_Datasers/Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("../00_Datasers/Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("../00_Datasers/Restaurant - Customers.csv")
foods = pd.read_csv("../00_Datasers/Restaurant - Foods.csv")
satisfaction = pd.read_csv("../00_Datasers/Restaurant - Week 1 Satisfaction.csv")

In [68]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [69]:
satisfaction.head(3)

   Satisfaction Rating
0                    2
1                    7
2                    3

In [71]:
week1.merge(satisfaction, how="left", left_index=True, right_index=True).head(5)

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10

In [72]:
week1.join(satisfaction).head(5)

   Customer ID  Food ID  Satisfaction Rating
0          537        9                    2
1           97        4                    7
2          658        1                    3
3          202        2                    7
4          155        9                   10

### 12. The pd.merge() Method

In [73]:
week1.head(3)

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1

In [74]:
customers.head(3)

   ID First Name Last Name  Gender  Company                     Occupation
0   1     Joseph   Perkins    Male  Dynazzy  Community Outreach Specialist
1   2   Jennifer   Alvarez  Female     DabZ        Senior Quality Engineer
2   3      Roger     Black    Male  Tagfeed              Account Executive

In [75]:
pd.merge(week1, customers, how = "left", left_on = "Customer ID", right_on = "ID")

,Customer ID,Food ID,ID,First Name,Last Name,Gender,Company,Occupation
0,537,9,537,Cheryl,Carroll,Female,Zoombeat,Registered Nurse
1,97,4,97,Amanda,Watkins,Female,Ozu,Account Coordinator
2,658,1,658,Patrick,Webb,Male,Browsebug,Community Outreach Specialist
3,202,2,202,Louis,Campbell,Male,Rhynoodle,Account Representative III
4,155,9,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
5,213,8,213,Keith,Foster,Male,Gigashots,VP Quality Control
6,600,1,600,Sandra,Bailey,Female,Jaxnation,Sales Associate
7,503,5,503,Justin,Daniels,Male,Oloo,Environmental Tech
8,71,3,71,Carolyn,Reyes,Female,Twimbo,Safety Technician IV
9,174,3,174,Anna,Miller,Female,Innojam,Developer I
10,961,9,961,Ralph,Richards,Male,Thoughtstorm,Accountant I
11,966,5,966,Robert,Ford,Male,Jabbertype,Account Representative IV
12,641,4,641,Donna,Gutierrez,Female,Dabtype,Assistant Professor
13,288,2,288,Kenneth,Jackson,Male,Voomm,Associate Professor
14,149,4,149,Jennifer,Oliver,Female,Topiclounge,Database Administrator III
15,954,2,954,Thomas,Perkins,Male,Roodel,Account Executive
16,147,9,147,Theresa,Morales,Female,Abata,Occupational Therapist
17,155,1,155,Carolyn,Diaz,Female,Gigazoom,Database Administrator III
18,550,6,550,Walter,Miller,Male,Yata,Payment Adjustment Coordinator
19,101,7,101,Jeremy,Nelson,Male,Brainlounge,Web Developer IV
20,549,6,549,Harold,Rivera,Male,Topdrive,Cost Accountant
21,75,6,75,Catherine,Carpenter,Female,Zoozzy,Marketing Manager
22,78,7,78,Robert,Kennedy,Male,Edgewire,Chemical Engineer
23,514,5,514,Jack,Hill,Male,Blogtags,Assistant Professor
24,833,7,833,Carolyn,Dunn,Female,Yadel,Recruiter
25,329,8,329,Amanda,Nguyen,Female,Meezzy,Associate Professor
26,586,10,586,Doris,Mcdonald,Female,Youfeed,Marketing Assistant
27,341,1,341,Rachel,Robinson,Female,Twinder,Safety Technician IV
28,519,10,519,Lillian,Rogers,Female,Eazzy,Paralegal
29,680,9,680,Irene,Gordon,Female,Voolith,Database Administrator II
...,...,...,...,...,...,...,...,...
220,147,8,147,Theresa,Morales,Female,Abata,Occupational Therapist
221,745,4,745,Nicole,Garza,Female,Topiczoom,General Manager
222,184,3,184,Jesse,Edwards,Male,Zoombeat,Administrative Officer
223,828,8,828,Mary,Payne,Female,Oyonder,Assistant Media Planner
224,578,5,578,Donald,Matthews,Male,Fiveclub,Physical Therapy Assistant
225,491,4,491,Anna,Perkins,Female,Zazio,Quality Engineer
226,62,4,62,Andrew,Tucker,Male,Leenti,Structural Analysis Engineer
227,77,9,77,Lori,Edwards,Female,Dabvine,Sales Representative
228,506,9,506,Mildred,Mendoza,Female,Vitz,Environmental Tech
229,271,9,271,Beverly,Ward,Female,Brainbox,Automation Specialist II
230,584,10,584,Jeffrey,Simmons,Male,Flipstorm,Chemical Engineer
231,148,5,148,Patricia,Reid,Female,Shuffledrive,Analog Circuit Design manager
232,595,3,595,Bruce,Kennedy,Male,Mydo,Recruiter
233,274,10,274,Gary,Reid,Male,Fivespan,Executive Secretary
234,646,1,646,Wanda,Lane,Female,Twiyo,Help Desk Technician
235,520,8,520,Melissa,Wallace,Female,Skyvu,Administrative Officer
236,644,8,644,Louis,Brooks,Male,Nlounge,VP Quality Control
237,725,8,725,Carol,Russell,Female,BlogXS,Pharmacist
238,934,4,934,Joseph,Burton,Male,Leexo,Compensation Analyst
239,151,10,151,Brandon,Oliver,Male,Voomm,Internal Auditor
240,945,5,945,Anne,Reed,Female,Twitterworks,Director of Sales
241,343,3,343,Joe,Price,Male,Fanoodle,Marketing Manager
242,380,9,380,Martha,Payne,Female,Quinu,Assistant Media Planner
243,911,4,911,Patrick,Reed,Male,Jabberstorm,Senior Quality Engineer
244,621,9,621,Amy,Long,Female,Skidoo,Research Associate
245,413,9,413,Diane,Bailey,Female,Wikibox,Technical Writer
246,926,6,926,Anne,Wagner,Female,Skyba,Legal Assistant
247,134,3,134,Diana,Hall,Female,Quinu,Financial Advisor
248,396,6,396,Juan,Romero,Male,Zoonder,Analyst Programmer
249,535,10,535,Nancy,Cox,Female,Trudeo,Research Associate