# Panels

In [1]:
import pandas
from pandas_datareader import data

### 1. The Axes of a Panel Object

In [3]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]
P = data.DataReader(name = companies, data_source="google", start = "2010-01-01", end="2016-12-31")
P

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-10-26 00:00:00 to 2017-10-24 00:00:00
Minor_axis axis: AAPL to YHOO

In [4]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [5]:
P.major_axis

DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
               '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08',
               ...
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
               '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [6]:
P.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

### 2. Panel Attributes

In [7]:
P.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [9]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [10]:
P.major_axis

DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
               '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08',
               ...
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
               '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [11]:
P.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [13]:
P.ndim

3

In [15]:
P.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [16]:
P.shape

(5, 251, 5)

In [17]:
P.size

6275

In [18]:
P.values

array([[[  1.14310000e+02,   8.32760000e+02,   8.06340000e+02,
           6.08100000e+01,   4.22600000e+01],
        [  1.15390000e+02,   8.31240000e+02,   8.01000000e+02,
           6.06100000e+01,   4.23100000e+01],
        [  1.13870000e+02,   7.82000000e+02,   8.08350000e+02,
           6.00100000e+01,   4.20300000e+01],
        ...,
        [  1.56610000e+02,   9.93530000e+02,   9.89440000e+02,
           7.83200000e+01,   6.76500000e+01],
        [  1.56890000e+02,   9.86730000e+02,   9.89520000e+02,
           7.89900000e+01,   6.76300000e+01],
        [  1.56290000e+02,   9.69000000e+02,   9.70000000e+02,
           7.89000000e+01,   6.66900000e+01]],

       [[  1.15700000e+02,   8.33440000e+02,   8.06980000e+02,
           6.12000000e+01,   4.24400000e+01],
        [  1.15860000e+02,   8.31720000e+02,   8.03490000e+02,
           6.08300000e+01,   4.24900000e+01],
        [  1.15210000e+02,   7.89490000e+02,   8.15490000e+02,
           6.05200000e+01,   4.22200000e+01],
        ...,
        [  1.57750000e+02,   9.94620000e+02,   9.91000000e+02,
           7.89700000e+01,   6.83600000e+01],
        [  1.57690000e+02,   9.86780000e+02,   9.89520000e+02,
           7.93400000e+01,   6.80000000e+01],
        [  1.57420000e+02,   9.79850000e+02,   9.72230000e+02,
           7.92000000e+01,   6.72000000e+01]],

       [[  1.13310000e+02,   8.20000000e+02,   7.96320000e+02,
           6.04700000e+01,   4.19500000e+01],
        [  1.14100000e+02,   8.15430000e+02,   7.91500000e+02,
           6.00900000e+01,   4.18100000e+01],
        [  1.13450000e+02,   7.74610000e+02,   7.93590000e+02,
           5.95800000e+01,   4.17100000e+01],
        ...,
        [  1.55960000e+02,   9.82000000e+02,   9.84580000e+02,
           7.82200000e+01,   6.74500000e+01],
        [  1.55500000e+02,   9.62500000e+02,   9.66120000e+02,
           7.87600000e+01,   6.64000000e+01],
        [  1.56200000e+02,   9.65000000e+02,   9.61000000e+02,
           7.84600000e+01,   6.64000000e+01]],

       [[  1.15590000e+02,   8.22590000e+02,   7.99070000e+02,
           6.06300000e+01,   4.20800000e+01],
        [  1.14480000e+02,   8.18360000e+02,   7.95350000e+02,
           6.01000000e+01,   4.18700000e+01],
        [  1.13720000e+02,   7.76320000e+02,   7.95370000e+02,
           5.98700000e+01,   4.17800000e+01],
        ...,
        [  1.56250000e+02,   9.82910000e+02,   9.88200000e+02,
           7.88100000e+01,   6.75100000e+01],
        [  1.56170000e+02,   9.66300000e+02,   9.68450000e+02,
           7.88300000e+01,   6.65100000e+01],
        [  1.57100000e+02,   9.75900000e+02,   9.70540000e+02,
           7.88600000e+01,   6.66100000e+01]],

       [[  6.61342190e+07,   3.99810200e+06,   1.64773300e+06,
           2.99116080e+07,   6.12302600e+06],
        [  3.45620450e+07,   7.40638500e+06,   2.74922100e+06,
           2.84798560e+07,   7.24084800e+06],
        [  3.78616620e+07,   1.08410730e+07,   4.26990200e+06,
           3.35746840e+07,   6.19746900e+06],
        ...,
        [  2.39741460e+07,   2.36512200e+06,   1.18318600e+06,
           2.28664260e+07,   7.14944200e+06],
        [  2.19843270e+07,   3.49410000e+06,   1.47844800e+06,
           2.06271730e+07,   3.95912300e+06],
        [  1.77572300e+07,   2.72393500e+06,   1.21215300e+06,
           1.75171820e+07,   3.66700100e+06]]])

In [19]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [21]:
P["Open"]

              AAPL     AMZN    GOOG   MSFT   YHOO
Date
2016-10-26  114.31   832.76  806.34  60.81  42.26
2016-10-27  115.39   831.24  801.00  60.61  42.31
2016-10-28  113.87   782.00  808.35  60.01  42.03
2016-10-31  113.65   781.03  795.47  60.16  42.03
2016-11-01  113.46   799.00  782.89  59.97  41.13
2016-11-02  111.40   783.93  778.20  59.82  41.80
2016-11-03  110.98   765.05  767.25  59.53  40.62
2016-11-04  108.53   762.79  750.66  58.65  39.96
2016-11-07  110.08   771.64  774.50  59.78  41.17
2016-11-08  110.31   784.97  783.40  60.55  40.97
2016-11-09  109.88   764.00  779.94  60.00  40.44
2016-11-10  111.09   778.81  791.17  60.48  41.55
2016-11-11  107.12   735.73  756.54  58.23  39.84
2016-11-14  107.71   745.51  755.60  59.02  40.36
2016-11-15  106.57   730.00  746.97  58.33  39.61
2016-11-16  106.70   739.88  755.20  58.94  40.10
2016-11-17  109.81   749.32  766.92  60.41  41.34
2016-11-18  109.72   761.00  771.37  60.78  41.48
2016-11-21  110.12   766.00  762.61  60.50  41.44
2016-11-22  111.95   788.17  772.63  60.98  41.20
2016-11-23  111.36   781.73  767.73  61.01  40.91
2016-11-25  111.47   786.50  764.26  60.30  41.08
2016-11-28  111.43   776.99  760.00  60.34  40.85
2016-11-29  110.78   768.00  771.53  60.65  41.43
2016-11-30  111.60   762.00  770.07  60.86  41.62
2016-12-01  110.36   752.41  757.44  60.11  41.00
2016-12-02  109.17   743.40  744.59  59.08  39.77
2016-12-05  110.00   745.00  757.71  59.70  40.02
2016-12-06  109.50   763.99  764.73  60.43  40.31
2016-12-07  109.26   764.55  761.00  60.01  39.98
...            ...      ...     ...    ...    ...
2017-09-13  159.87   983.97  930.66  74.93  65.40
2017-09-14  158.99   996.80  931.25  75.00  66.26
2017-09-15  158.47   993.01  924.66  74.83  66.39
2017-09-18  160.11   990.40  920.01  75.23  67.00
2017-09-19  159.51   977.25  917.42  75.21  67.30
2017-09-20  157.90   971.79  922.98  75.35  67.37
2017-09-21  155.80   971.31  933.00  75.11  67.00
2017-09-22  151.54   961.01  927.75  73.99  66.45
2017-09-25  149.99   949.31  925.45  74.09  67.00
2017-09-26  151.78   945.49  923.72  73.67  65.08
2017-09-27  153.80   948.00  927.74  73.55  65.13
2017-09-28  153.89   951.86  941.36  73.54  65.90
2017-09-29  153.21   960.11  952.00  73.94  65.64
2017-10-02  154.26   964.00  959.98  74.71  66.60
2017-10-03  154.01   958.00  954.00  74.67  67.19
2017-10-04  153.63   954.21  957.00  74.09  67.79
2017-10-05  154.18   970.00  955.49  75.22  67.75
2017-10-06  154.97   975.64  966.70  75.67  67.49
2017-10-09  155.81   993.24  980.00  75.97  67.85
2017-10-10  156.06   996.67  980.00  76.33  68.51
2017-10-11  155.97   991.27  973.72  76.36  68.75
2017-10-12  156.35   996.81  987.45  76.49  69.00
2017-10-13  156.73  1007.00  992.00  77.59  68.17
2017-10-16  157.90  1008.44  992.10  77.42  67.91
2017-10-17  159.78  1005.59  990.29  77.47  68.00
2017-10-18  160.42  1009.27  991.77  77.67  67.20
2017-10-19  156.75   990.00  986.00  77.57  66.97
2017-10-20  156.61   993.53  989.44  78.32  67.65
2017-10-23  156.89   986.73  989.52  78.99  67.63
2017-10-24  156.29   969.00  970.00  78.90  66.69

[251 rows x 5 columns]

In [23]:
P["Volume"].head()

                  AAPL        AMZN       GOOG        MSFT        YHOO
Date
2016-10-26  66134219.0   3998102.0  1647733.0  29911608.0   6123026.0
2016-10-27  34562045.0   7406385.0  2749221.0  28479856.0   7240848.0
2016-10-28  37861662.0  10841073.0  4269902.0  33574684.0   6197469.0
2016-10-31  26419398.0   5413326.0  2427284.0  26434697.0   3749658.0
2016-11-01  43825812.0   5305428.0  2406356.0  24532986.0  11751521.0

In [25]:
P.Volume.head()

                  AAPL        AMZN       GOOG        MSFT        YHOO
Date
2016-10-26  66134219.0   3998102.0  1647733.0  29911608.0   6123026.0
2016-10-27  34562045.0   7406385.0  2749221.0  28479856.0   7240848.0
2016-10-28  37861662.0  10841073.0  4269902.0  33574684.0   6197469.0
2016-10-31  26419398.0   5413326.0  2427284.0  26434697.0   3749658.0
2016-11-01  43825812.0   5305428.0  2406356.0  24532986.0  11751521.0

### 3. Extracting with the .loc, .iloc, and .ix Methods

In [27]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [35]:
P.loc["Low", "2016-11-08", "GOOG"]

780.19000000000005

In [38]:
P.iloc[3, 200, 3]

73.590000000000003

### 4. Convert Panel to a MultiIndex DataFrame (and Vice Versa)

In [42]:
df = P.to_frame()
df.head()

                    Open    High     Low   Close      Volume
Date       minor
2016-10-26 AAPL   114.31  115.70  113.31  115.59  66134219.0
           AMZN   832.76  833.44  820.00  822.59   3998102.0
           GOOG   806.34  806.98  796.32  799.07   1647733.0
           MSFT    60.81   61.20   60.47   60.63  29911608.0
           YHOO    42.26   42.44   41.95   42.08   6123026.0

In [46]:
p2 = df.to_panel()
p2

C:\Users\AFGHAN92\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-10-26 00:00:00 to 2017-10-24 00:00:00
Minor_axis axis: AAPL to YHOO

### 5. The .major_xs() Method

In [47]:
P.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [48]:
P["Volume"]

                  AAPL        AMZN       GOOG        MSFT        YHOO
Date
2016-10-26  66134219.0   3998102.0  1647733.0  29911608.0   6123026.0
2016-10-27  34562045.0   7406385.0  2749221.0  28479856.0   7240848.0
2016-10-28  37861662.0  10841073.0  4269902.0  33574684.0   6197469.0
2016-10-31  26419398.0   5413326.0  2427284.0  26434697.0   3749658.0
2016-11-01  43825812.0   5305428.0  2406356.0  24532986.0  11751521.0
2016-11-02  28331709.0   5026504.0  1918414.0  22147005.0  13019956.0
2016-11-03  26932602.0   3872496.0  1943175.0  21600427.0   8112820.0
2016-11-04  30836997.0   5122103.0  2134812.0  28697016.0   4579437.0
2016-11-07  32560000.0   5984354.0  1585070.0  31664798.0   5430744.0
2016-11-08  24254179.0   3412629.0  1366873.0  22935355.0   4229743.0
2016-11-09  59176361.0   8562892.0  2607121.0  49632479.0  24000065.0
2016-11-10  57134541.0  12746994.0  4745183.0  57822394.0  16443786.0
2016-11-11  34143898.0   6622784.0  2431815.0  38767843.0  15178907.0
2016-11-14  51175504.0   7321344.0  3654385.0  41328422.0  12692293.0
2016-11-15  32264510.0   6755785.0  2384001.0  35904126.0  13364918.0
2016-11-16  58840522.0   3648791.0  1472594.0  27332475.0  15609553.0
2016-11-17  26964598.0   3651345.0  1286961.0  31463728.0   8692013.0
2016-11-18  28428917.0   4373408.0  1547145.0  27686311.0   8138928.0
2016-11-21  29264571.0   4614574.0  1330639.0  19652595.0  11355856.0
2016-11-22  25965534.0   5311320.0  1593108.0  23206700.0   8881541.0
2016-11-23  27426394.0   3540263.0  1478417.0  21848913.0   3719257.0
2016-11-25  11475922.0   1837068.0   587421.0   8409616.0   2586908.0
2016-11-28  27193983.0   4438828.0  2188151.0  20732619.0   6836364.0
2016-11-29  28528750.0   3272344.0  1616618.0  22366721.0  13085981.0
2016-11-30  36162258.0   4625946.0  2392890.0  34655435.0   7644360.0
2016-12-01  37086862.0   4665993.0  3017947.0  34542121.0  12624139.0
2016-12-02  26527997.0   3561307.0  1452484.0  25515665.0   8588544.0
2016-12-05  34324540.0   4314723.0  1394223.0  23552658.0   4408407.0
2016-12-06  26195462.0   3794746.0  1690689.0  19907035.0   6987846.0
2016-12-07  29998719.0   3684906.0  1760966.0  30808969.0   7208492.0
...                ...         ...        ...         ...         ...
2017-09-13  44907361.0   3374650.0  1102631.0  13380802.0  10760848.0
2017-09-14  23760749.0   3913263.0  1397644.0  15733914.0  11463558.0
2017-09-15  49114602.0   3760183.0  2505430.0  38578441.0   8589611.0
2017-09-18  28269435.0   3411324.0  1306922.0  23306959.0   5323750.0
2017-09-19  20810632.0   2671054.0   936654.0  16093344.0   4478702.0
2017-09-20  52951364.0   2888795.0  1669763.0  21587878.0  11434011.0
2017-09-21  37511661.0   2337576.0  1290607.0  19186140.0   4123943.0
2017-09-22  46645443.0   2641787.0  1052704.0  14111365.0   8523288.0
2017-09-25  44387336.0   5123997.0  1856822.0  24149163.0  18001335.0
2017-09-26  36660045.0   3564848.0  1666861.0  18019577.0   6654370.0
2017-09-27  25182779.0   3124726.0  2212600.0  19375099.0   7289458.0
2017-09-28  22005455.0   2522567.0  1020312.0  10883787.0   7214806.0
2017-09-29  26299810.0   2543759.0  1580994.0  17079114.0   5452375.0
2017-10-02  18698842.0   2442937.0  1283444.0  15304762.0  20424040.0
2017-10-03  16230293.0   2666574.0   888346.0  12190403.0   5709615.0
2017-10-04  20163750.0   2527352.0   952391.0  13317681.0   4289737.0
2017-10-05  21283769.0   3229224.0  1213816.0  21195261.0   3451654.0
2017-10-06  17407558.0   3782067.0  1173882.0  13959814.0   1939061.0
2017-10-09  16262923.0   2938586.0   891355.0  11386502.0   2763916.0
2017-10-10  15617014.0   3084921.0   968362.0  13944545.0   5689191.0
2017-10-11  16905640.0   2337113.0  1693274.0  15388898.0   4251750.0
2017-10-12  16125054.0   4067317.0  1262793.0  16876538.0   4110988.0
2017-10-13  16394188.0   2431462.0  1169777.0  15335742.0   3380943.0
2017-10-16  24121452.0   2008908.0   910543.0  12380093.0   4523200.0
2017-10-17  18997275.0   2319742.0  1290186.0  16823989.0   4264365.0
2017-10-18  16374164.0   2499681.0  1057581.0  13300701.0   5361842.0
2017-10-19  42584166.0   3108197.0  1313575.0  15092758.0   4271282.0
2017-10-20  23974146.0   2365122.0  1183186.0  22866426.0   7149442.0
2017-10-23  21984327.0   3494100.0  1478448.0  20627173.0   3959123.0
2017-10-24  17757230.0   2723935.0  1212153.0  17517182.0   3667001.0

[251 rows x 5 columns]

In [49]:
P.major_axis

DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
               '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
               '2016-11-07', '2016-11-08',
               ...
               '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
               '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
               '2017-10-23', '2017-10-24'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [52]:
P.major_xs("2017-09-06")

        Open    High     Low   Close      Volume
AAPL  162.71  162.99  160.52  161.91  21651726.0
AMZN  968.32  971.84  960.60  967.80   2129861.0
GOOG  930.15  930.92  919.27  927.81   1527650.0
MSFT   73.74   74.04   73.35   73.40  16535785.0
YHOO   63.71   64.28   62.90   63.32   4875988.0

### 6. The .minor_xs() Method

In [53]:
P.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [54]:
P.minor_xs("MSFT")

             Open   High    Low  Close      Volume
Date
2016-10-26  60.81  61.20  60.47  60.63  29911608.0
2016-10-27  60.61  60.83  60.09  60.10  28479856.0
2016-10-28  60.01  60.52  59.58  59.87  33574684.0
2016-10-31  60.16  60.42  59.92  59.92  26434697.0
2016-11-01  59.97  60.02  59.25  59.80  24532986.0
2016-11-02  59.82  59.93  59.30  59.43  22147005.0
2016-11-03  59.53  59.64  59.11  59.21  21600427.0
2016-11-04  58.65  59.28  58.52  58.71  28697016.0
2016-11-07  59.78  60.52  59.78  60.42  31664798.0
2016-11-08  60.55  60.78  60.15  60.47  22935355.0
2016-11-09  60.00  60.59  59.20  60.17  49632479.0
2016-11-10  60.48  60.49  57.63  58.70  57822394.0
2016-11-11  58.23  59.12  58.01  59.02  38767843.0
2016-11-14  59.02  59.08  57.28  58.12  41328422.0
2016-11-15  58.33  59.49  58.32  58.87  35904126.0
2016-11-16  58.94  59.66  58.81  59.65  27332475.0
2016-11-17  60.41  60.95  59.96  60.64  31463728.0
2016-11-18  60.78  61.14  60.30  60.35  27686311.0
2016-11-21  60.50  60.97  60.42  60.86  19652595.0
2016-11-22  60.98  61.26  60.80  61.12  23206700.0
2016-11-23  61.01  61.10  60.25  60.40  21848913.0
2016-11-25  60.30  60.53  60.13  60.53   8409616.0
2016-11-28  60.34  61.02  60.21  60.61  20732619.0
2016-11-29  60.65  61.41  60.52  61.09  22366721.0
2016-11-30  60.86  61.18  60.22  60.26  34655435.0
2016-12-01  60.11  60.15  58.94  59.20  34542121.0
2016-12-02  59.08  59.47  58.80  59.25  25515665.0
2016-12-05  59.70  60.58  59.56  60.22  23552658.0
2016-12-06  60.43  60.46  59.80  59.95  19907035.0
2016-12-07  60.01  61.38  59.80  61.37  30808969.0
...           ...    ...    ...    ...         ...
2017-09-13  74.93  75.23  74.55  75.21  13380802.0
2017-09-14  75.00  75.49  74.52  74.77  15733914.0
2017-09-15  74.83  75.39  74.07  75.31  38578441.0
2017-09-18  75.23  75.97  75.04  75.16  23306959.0
2017-09-19  75.21  75.71  75.01  75.44  16093344.0
2017-09-20  75.35  75.55  74.31  74.94  21587878.0
2017-09-21  75.11  75.24  74.11  74.21  19186140.0
2017-09-22  73.99  74.51  73.85  74.41  14111365.0
2017-09-25  74.09  74.25  72.92  73.26  24149163.0
2017-09-26  73.67  73.81  72.99  73.26  18019577.0
2017-09-27  73.55  74.17  73.17  73.85  19375099.0
2017-09-28  73.54  73.97  73.31  73.87  10883787.0
2017-09-29  73.94  74.54  73.88  74.49  17079114.0
2017-10-02  74.71  75.01  74.30  74.61  15304762.0
2017-10-03  74.67  74.88  74.20  74.26  12190403.0
2017-10-04  74.09  74.72  73.71  74.69  13317681.0
2017-10-05  75.22  76.12  74.96  75.97  21195261.0
2017-10-06  75.67  76.03  75.54  76.00  13959814.0
2017-10-09  75.97  76.55  75.86  76.29  11386502.0
2017-10-10  76.33  76.63  76.14  76.29  13944545.0
2017-10-11  76.36  76.46  75.95  76.42  15388898.0
2017-10-12  76.49  77.29  76.37  77.12  16876538.0
2017-10-13  77.59  77.87  77.29  77.49  15335742.0
2017-10-16  77.42  77.81  77.35  77.65  12380093.0
2017-10-17  77.47  77.62  77.25  77.59  16823989.0
2017-10-18  77.67  77.85  77.37  77.61  13300701.0
2017-10-19  77.57  77.93  77.35  77.91  15092758.0
2017-10-20  78.32  78.97  78.22  78.81  22866426.0
2017-10-23  78.99  79.34  78.76  78.83  20627173.0
2017-10-24  78.90  79.20  78.46  78.86  17517182.0

[251 rows x 5 columns]

In [56]:
P.minor_xs("GOOG").head(3)

              Open    High     Low   Close     Volume
Date
2016-10-26  806.34  806.98  796.32  799.07  1647733.0
2016-10-27  801.00  803.49  791.50  795.35  2749221.0
2016-10-28  808.35  815.49  793.59  795.37  4269902.0

 ### 7. Transpose a Panel with the .transpose() Method

In [57]:
P.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [59]:
P2 = P.transpose(2, 1, 0)

In [60]:
P

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2016-10-26 00:00:00 to 2017-10-24 00:00:00
Minor_axis axis: AAPL to YHOO

In [61]:
P2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 251 (major_axis) x 5 (minor_axis)
Items axis: AAPL to YHOO
Major_axis axis: 2016-10-26 00:00:00 to 2017-10-24 00:00:00
Minor_axis axis: Open to Volume

In [62]:
P2["AAPL"]

              Open    High     Low   Close      Volume
Date
2016-10-26  114.31  115.70  113.31  115.59  66134219.0
2016-10-27  115.39  115.86  114.10  114.48  34562045.0
2016-10-28  113.87  115.21  113.45  113.72  37861662.0
2016-10-31  113.65  114.23  113.20  113.54  26419398.0
2016-11-01  113.46  113.77  110.53  111.49  43825812.0
2016-11-02  111.40  112.35  111.23  111.59  28331709.0
2016-11-03  110.98  111.46  109.55  109.83  26932602.0
2016-11-04  108.53  110.25  108.11  108.84  30836997.0
2016-11-07  110.08  110.51  109.46  110.41  32560000.0
2016-11-08  110.31  111.72  109.70  111.06  24254179.0
2016-11-09  109.88  111.32  108.05  110.88  59176361.0
2016-11-10  111.09  111.09  105.83  107.79  57134541.0
2016-11-11  107.12  108.87  106.55  108.43  34143898.0
2016-11-14  107.71  107.81  104.08  105.71  51175504.0
2016-11-15  106.57  107.68  106.16  107.11  32264510.0
2016-11-16  106.70  110.23  106.60  109.99  58840522.0
2016-11-17  109.81  110.35  108.83  109.95  26964598.0
2016-11-18  109.72  110.54  109.66  110.06  28428917.0
2016-11-21  110.12  111.99  110.01  111.73  29264571.0
2016-11-22  111.95  112.42  111.40  111.80  25965534.0
2016-11-23  111.36  111.51  110.33  111.23  27426394.0
2016-11-25  111.47  111.87  110.95  111.79  11475922.0
2016-11-28  111.43  112.46  111.39  111.57  27193983.0
2016-11-29  110.78  112.03  110.07  111.46  28528750.0
2016-11-30  111.60  112.20  110.27  110.52  36162258.0
2016-12-01  110.36  110.94  109.03  109.49  37086862.0
2016-12-02  109.17  110.09  108.85  109.90  26527997.0
2016-12-05  110.00  110.03  108.25  109.11  34324540.0
2016-12-06  109.50  110.36  109.19  109.95  26195462.0
2016-12-07  109.26  111.19  109.16  111.03  29998719.0
...            ...     ...     ...     ...         ...
2017-09-13  159.87  159.96  157.91  159.65  44907361.0
2017-09-14  158.99  159.40  158.09  158.28  23760749.0
2017-09-15  158.47  160.97  158.00  159.88  49114602.0
2017-09-18  160.11  160.50  158.00  158.67  28269435.0
2017-09-19  159.51  159.77  158.44  158.73  20810632.0
2017-09-20  157.90  158.26  153.83  156.07  52951364.0
2017-09-21  155.80  155.80  152.75  153.39  37511661.0
2017-09-22  151.54  152.27  150.56  151.89  46645443.0
2017-09-25  149.99  151.83  149.16  150.55  44387336.0
2017-09-26  151.78  153.92  151.69  153.14  36660045.0
2017-09-27  153.80  154.72  153.54  154.23  25182779.0
2017-09-28  153.89  154.28  152.70  153.28  22005455.0
2017-09-29  153.21  154.13  152.00  154.12  26299810.0
2017-10-02  154.26  154.45  152.72  153.81  18698842.0
2017-10-03  154.01  155.09  153.91  154.48  16230293.0
2017-10-04  153.63  153.86  152.46  153.48  20163750.0
2017-10-05  154.18  155.44  154.05  155.39  21283769.0
2017-10-06  154.97  155.49  154.56  155.30  17407558.0
2017-10-09  155.81  156.73  155.48  155.84  16262923.0
2017-10-10  156.06  158.00  155.10  155.90  15617014.0
2017-10-11  155.97  156.98  155.75  156.55  16905640.0
2017-10-12  156.35  157.37  155.73  156.00  16125054.0
2017-10-13  156.73  157.28  156.41  156.99  16394188.0
2017-10-16  157.90  160.00  157.65  159.88  24121452.0
2017-10-17  159.78  160.87  159.23  160.47  18997275.0
2017-10-18  160.42  160.71  159.60  159.76  16374164.0
2017-10-19  156.75  157.08  155.02  155.98  42584166.0
2017-10-20  156.61  157.75  155.96  156.25  23974146.0
2017-10-23  156.89  157.69  155.50  156.17  21984327.0
2017-10-24  156.29  157.42  156.20  157.10  17757230.0

[251 rows x 5 columns]

### 8. The .swapaxes() Method

In [64]:
P3 = P.swapaxes("items", "minor")

C:\Users\AFGHAN92\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

In [65]:
P3.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2016-10-26', '2016-10-27', '2016-10-28', '2016-10-31',
                '2016-11-01', '2016-11-02', '2016-11-03', '2016-11-04',
                '2016-11-07', '2016-11-08',
                ...
                '2017-10-11', '2017-10-12', '2017-10-13', '2017-10-16',
                '2017-10-17', '2017-10-18', '2017-10-19', '2017-10-20',
                '2017-10-23', '2017-10-24'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [66]:
P3["MSFT"]

             Open   High    Low  Close      Volume
Date
2016-10-26  60.81  61.20  60.47  60.63  29911608.0
2016-10-27  60.61  60.83  60.09  60.10  28479856.0
2016-10-28  60.01  60.52  59.58  59.87  33574684.0
2016-10-31  60.16  60.42  59.92  59.92  26434697.0
2016-11-01  59.97  60.02  59.25  59.80  24532986.0
2016-11-02  59.82  59.93  59.30  59.43  22147005.0
2016-11-03  59.53  59.64  59.11  59.21  21600427.0
2016-11-04  58.65  59.28  58.52  58.71  28697016.0
2016-11-07  59.78  60.52  59.78  60.42  31664798.0
2016-11-08  60.55  60.78  60.15  60.47  22935355.0
2016-11-09  60.00  60.59  59.20  60.17  49632479.0
2016-11-10  60.48  60.49  57.63  58.70  57822394.0
2016-11-11  58.23  59.12  58.01  59.02  38767843.0
2016-11-14  59.02  59.08  57.28  58.12  41328422.0
2016-11-15  58.33  59.49  58.32  58.87  35904126.0
2016-11-16  58.94  59.66  58.81  59.65  27332475.0
2016-11-17  60.41  60.95  59.96  60.64  31463728.0
2016-11-18  60.78  61.14  60.30  60.35  27686311.0
2016-11-21  60.50  60.97  60.42  60.86  19652595.0
2016-11-22  60.98  61.26  60.80  61.12  23206700.0
2016-11-23  61.01  61.10  60.25  60.40  21848913.0
2016-11-25  60.30  60.53  60.13  60.53   8409616.0
2016-11-28  60.34  61.02  60.21  60.61  20732619.0
2016-11-29  60.65  61.41  60.52  61.09  22366721.0
2016-11-30  60.86  61.18  60.22  60.26  34655435.0
2016-12-01  60.11  60.15  58.94  59.20  34542121.0
2016-12-02  59.08  59.47  58.80  59.25  25515665.0
2016-12-05  59.70  60.58  59.56  60.22  23552658.0
2016-12-06  60.43  60.46  59.80  59.95  19907035.0
2016-12-07  60.01  61.38  59.80  61.37  30808969.0
...           ...    ...    ...    ...         ...
2017-09-13  74.93  75.23  74.55  75.21  13380802.0
2017-09-14  75.00  75.49  74.52  74.77  15733914.0
2017-09-15  74.83  75.39  74.07  75.31  38578441.0
2017-09-18  75.23  75.97  75.04  75.16  23306959.0
2017-09-19  75.21  75.71  75.01  75.44  16093344.0
2017-09-20  75.35  75.55  74.31  74.94  21587878.0
2017-09-21  75.11  75.24  74.11  74.21  19186140.0
2017-09-22  73.99  74.51  73.85  74.41  14111365.0
2017-09-25  74.09  74.25  72.92  73.26  24149163.0
2017-09-26  73.67  73.81  72.99  73.26  18019577.0
2017-09-27  73.55  74.17  73.17  73.85  19375099.0
2017-09-28  73.54  73.97  73.31  73.87  10883787.0
2017-09-29  73.94  74.54  73.88  74.49  17079114.0
2017-10-02  74.71  75.01  74.30  74.61  15304762.0
2017-10-03  74.67  74.88  74.20  74.26  12190403.0
2017-10-04  74.09  74.72  73.71  74.69  13317681.0
2017-10-05  75.22  76.12  74.96  75.97  21195261.0
2017-10-06  75.67  76.03  75.54  76.00  13959814.0
2017-10-09  75.97  76.55  75.86  76.29  11386502.0
2017-10-10  76.33  76.63  76.14  76.29  13944545.0
2017-10-11  76.36  76.46  75.95  76.42  15388898.0
2017-10-12  76.49  77.29  76.37  77.12  16876538.0
2017-10-13  77.59  77.87  77.29  77.49  15335742.0
2017-10-16  77.42  77.81  77.35  77.65  12380093.0
2017-10-17  77.47  77.62  77.25  77.59  16823989.0
2017-10-18  77.67  77.85  77.37  77.61  13300701.0
2017-10-19  77.57  77.93  77.35  77.91  15092758.0
2017-10-20  78.32  78.97  78.22  78.81  22866426.0
2017-10-23  78.99  79.34  78.76  78.83  20627173.0
2017-10-24  78.90  79.20  78.46  78.86  17517182.0

[251 rows x 5 columns]