# DataFrames II

In [1]:
import pandas as pd

### 1. Memory Optimization

In [2]:
df = pd.read_csv("../00_Datasers/employees.csv")
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [5]:
df["Start Date"] = pd.to_datetime(df["Start Date"])

In [7]:
df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])

In [8]:
df["Senior Management"] = df["Senior Management"].astype("bool")

In [12]:
df["Gender"] = df["Gender"].astype("category")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB

In [14]:
df = pd.read_csv("../00_Datasers/employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB

### 2. Filter a DataFrame Based on A Condition

In [16]:
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance

In [19]:
df[df["Gender"] == "Male"]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2017-10-18 16:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
13,Gary,Male,2008-01-27,2017-10-18 23:40:00,109831,5.831,False,Sales
16,Jeremy,Male,2010-09-21,2017-10-18 05:56:00,90370,7.369,False,Human Resources
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
21,Matthew,Male,1995-09-05,2017-10-18 02:12:00,100612,13.645,False,Marketing
23,NaN,Male,2012-06-14,2017-10-18 16:19:00,125792,5.042,True,NaN
24,John,Male,1992-07-01,2017-10-18 22:08:00,97950,13.873,False,Client Services
25,NaN,Male,2012-10-08,2017-10-18 01:12:00,37076,18.576,True,Client Services
26,Craig,Male,2000-02-27,2017-10-18 07:45:00,37598,7.757,True,Marketing
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
32,NaN,Male,1998-08-21,2017-10-18 14:27:00,122340,6.417,True,NaN
34,Jerry,Male,2004-01-10,2017-10-18 12:56:00,95734,19.096,False,Client Services
39,NaN,Male,2016-01-29,2017-10-18 02:33:00,122173,7.797,True,Client Services
40,Michael,Male,2008-10-10,2017-10-18 11:25:00,99283,2.665,True,Distribution
45,Roger,Male,1980-04-17,2017-10-18 11:32:00,88010,13.886,True,Sales
46,Bruce,Male,2009-11-28,2017-10-18 22:47:00,114796,6.796,False,Finance
48,Clarence,Male,1996-03-26,2017-10-18 05:57:00,93581,6.083,True,Business Development
52,Todd,Male,1990-02-18,2017-10-18 02:41:00,49339,1.695,True,Human Resources
56,Carl,Male,2006-05-03,2017-10-18 17:55:00,130276,16.084,True,Finance
57,Henry,Male,1996-06-26,2017-10-18 01:44:00,64715,15.107,True,Human Resources
63,Matthew,Male,2013-01-02,2017-10-18 22:33:00,35203,18.040,False,Human Resources
65,Steve,Male,2009-11-11,2017-10-18 23:44:00,61310,12.428,True,Distribution
68,Jose,Male,2004-10-30,2017-10-18 13:39:00,84834,14.330,True,Finance
71,Johnny,Male,2009-11-06,2017-10-18 16:23:00,118172,16.194,True,Sales
...,...,...,...,...,...,...,...,...
931,Harold,Male,2012-06-23,2017-10-18 12:40:00,140444,3.771,False,Distribution
934,Samuel,Male,1997-08-07,2017-10-18 12:40:00,43694,3.787,True,Engineering
940,Andrew,Male,1990-09-28,2017-10-18 09:38:00,137386,8.611,True,Distribution
941,William,Male,1997-06-26,2017-10-18 08:33:00,104840,15.653,True,Engineering
943,Wayne,Male,2006-09-08,2017-10-18 11:09:00,67471,2.728,False,Engineering
944,Kenneth,Male,2006-05-10,2017-10-18 08:24:00,101914,1.905,True,Distribution
947,NaN,Male,2012-07-30,2017-10-18 15:07:00,107351,5.329,True,Marketing
949,Scott,Male,2011-08-20,2017-10-18 08:08:00,37385,8.226,True,Business Development
953,Randy,Male,2012-02-25,2017-10-18 05:33:00,57266,14.077,False,Product
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
959,Albert,Male,1992-09-19,2017-10-18 02:35:00,45094,5.850,True,Business Development
960,Stephen,Male,1989-10-29,2017-10-18 23:34:00,93997,18.093,True,Business Development
962,Jonathan,Male,2013-08-21,2017-10-18 00:45:00,121797,16.923,False,Product
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
966,Louis,Male,2011-08-16,2017-10-18 17:19:00,93022,9.146,True,Human Resources
967,Thomas,Male,2016-03-12,2017-10-18 15:10:00,105681,19.572,False,Engineering
971,Patrick,Male,2002-12-30,2017-10-18 02:01:00,75423,5.368,True,Business Development
973,Russell,Male,2013-05-10,2017-10-18 23:08:00,137359,11.105,False,Business Development
974,Harry,Male,2011-08-30,2017-10-18 18:31:00,67656,16.455,True,Client Services
978,Sean,Male,1983-01-17,2017-10-18 14:23:00,66146,11.178,False,Human Resources
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
981,James,Male,1993-01-15,2017-10-18 17:19:00,148985,19.280,False,Legal
983,John,Male,1982-12-23,2017-10-18 22:35:00,146907,11.738,False,Engineering
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
994,George,Male,2013-06-21,2017-10-18 17:47:00,98874,4.479,True,Marketing
996,Phillip,Male,1984-01-31,2017-10-18 06:30:00,42392,19.675,False,Finance
997,Russell,Male,2013-05-20,2017-10-18 12:39:00,96914,1.421,False,Product
998,Larry,Male,2013-04-20,2017-10-18 16:45:00,60500,11.985,False,Business Development
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [22]:
mask = df["Team"] == "Finance"
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
7,NaN,Female,2015-07-20,2017-10-18 10:43:00,45906,11.598,True,Finance
14,Kimberly,Female,1999-01-14,2017-10-18 07:13:00,41426,14.543,True,Finance
46,Bruce,Male,2009-11-28,2017-10-18 22:47:00,114796,6.796,False,Finance
53,Alan,NaN,2014-03-03,2017-10-18 13:28:00,40341,17.578,True,Finance
56,Carl,Male,2006-05-03,2017-10-18 17:55:00,130276,16.084,True,Finance
67,Rachel,Female,1999-08-16,2017-10-18 06:53:00,51178,9.735,True,Finance
68,Jose,Male,2004-10-30,2017-10-18 13:39:00,84834,14.330,True,Finance
69,Irene,NaN,2015-07-14,2017-10-18 16:31:00,100863,4.382,True,Finance
83,Shawn,Male,2005-09-23,2017-10-18 02:55:00,148115,6.539,True,Finance
84,Doris,Female,2004-08-20,2017-10-18 05:51:00,83072,7.511,False,Finance
96,Cynthia,Female,1994-03-21,2017-10-18 08:34:00,142321,1.737,False,Finance
100,Melissa,Female,2005-06-21,2017-10-18 06:33:00,48109,14.995,False,Finance
103,Phyllis,Female,1996-10-11,2017-10-18 21:30:00,136984,8.932,True,Finance
105,Kathy,Female,1996-03-09,2017-10-18 04:33:00,91712,8.567,False,Finance
117,Steven,Male,1995-03-01,2017-10-18 15:03:00,109095,9.494,False,Finance
142,Elizabeth,Female,2003-10-09,2017-10-18 17:53:00,146129,5.687,False,Finance
153,Victor,NaN,2011-03-10,2017-10-18 20:40:00,84546,10.489,True,Finance
160,Kathy,Female,2000-03-18,2017-10-18 19:26:00,149563,16.991,True,Finance
172,Sara,Female,1991-09-23,2017-10-18 18:17:00,97058,9.402,False,Finance
179,Jessica,Female,1995-10-23,2017-10-18 05:53:00,68759,19.343,True,Finance
190,Carol,Female,1996-03-19,2017-10-18 03:39:00,57783,9.129,False,Finance
200,Gary,Male,1987-08-12,2017-10-18 00:04:00,89661,8.525,False,Finance
205,Brandon,Male,2006-03-27,2017-10-18 17:54:00,115711,8.012,True,Finance
218,Gregory,NaN,1992-06-15,2017-10-18 05:08:00,98865,10.628,True,Finance
219,Billy,Male,1995-03-13,2017-10-18 12:05:00,120444,7.768,True,Finance
222,Jason,Male,1999-10-17,2017-10-18 22:09:00,78417,3.067,False,Finance
226,Kathy,Female,1995-04-19,2017-10-18 00:46:00,50905,9.404,True,Finance
241,Walter,Male,1983-07-06,2017-10-18 23:54:00,127813,5.961,False,Finance
...,...,...,...,...,...,...,...,...
710,Edward,Male,1997-11-27,2017-10-18 01:00:00,58327,17.095,True,Finance
725,Jeremy,Male,1991-05-19,2017-10-18 13:40:00,131513,1.876,True,Finance
731,Ann,Female,2001-07-16,2017-10-18 09:27:00,118431,12.772,True,Finance
732,Henry,Male,1986-05-12,2017-10-18 02:04:00,59943,1.432,False,Finance
744,Judy,NaN,2011-07-15,2017-10-18 15:38:00,46829,5.190,True,Finance
765,Alice,NaN,1995-04-23,2017-10-18 06:35:00,148339,11.479,True,Finance
773,NaN,Male,1986-10-24,2017-10-18 09:23:00,47176,10.736,True,Finance
775,Rose,Female,1999-11-03,2017-10-18 09:06:00,75181,6.060,True,Finance
790,Fred,Male,1989-03-03,2017-10-18 02:27:00,129712,11.058,False,Finance
807,Mary,Female,2011-11-06,2017-10-18 08:32:00,115057,2.089,False,Finance
809,George,Male,1995-09-27,2017-10-18 17:04:00,36749,19.754,False,Finance
831,Kenneth,Male,2015-01-15,2017-10-18 14:41:00,69112,7.588,True,Finance
836,Carolyn,Female,2004-03-17,2017-10-18 06:38:00,118037,13.492,False,Finance
837,Joseph,Male,1985-05-23,2017-10-18 22:16:00,139570,15.804,True,Finance
847,Nicole,NaN,1981-05-02,2017-10-18 12:03:00,41449,4.707,False,Finance
854,Harry,Male,1985-02-10,2017-10-18 19:46:00,63046,10.411,False,Finance
856,Bonnie,NaN,2006-01-18,2017-10-18 18:52:00,108946,12.211,False,Finance
861,Jerry,Male,1989-03-26,2017-10-18 04:15:00,140850,18.855,False,Finance
880,Robert,NaN,2007-05-25,2017-10-18 03:17:00,90998,8.382,False,Finance
884,Lisa,Female,2003-10-17,2017-10-18 13:42:00,73706,18.530,False,Finance
889,Margaret,Female,2001-01-04,2017-10-18 03:07:00,126924,1.552,True,Finance
890,NaN,Male,2015-11-24,2017-10-18 03:11:00,145329,7.100,True,Finance
891,Timothy,Male,1991-08-25,2017-10-18 10:37:00,92587,8.475,False,Finance
897,Kenneth,NaN,1994-02-28,2017-10-18 10:10:00,95296,10.146,False,Finance
905,Alice,Female,2013-02-09,2017-10-18 00:49:00,121250,4.363,True,Finance
907,Elizabeth,Female,1998-07-27,2017-10-18 11:12:00,137144,10.081,False,Finance
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
987,Gloria,Female,2014-12-08,2017-10-18 05:08:00,136709,10.331,True,Finance
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
996,Phillip,Male,1984-01-31,2017-10-18 06:30:00,42392,19.675,False,Finance

In [25]:
df[df["Senior Management"]]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2017-10-18 16:47:00,101004,1.389,True,Client Services
6,Ruby,Female,1987-08-17,2017-10-18 16:20:00,65476,10.012,True,Product
7,NaN,Female,2015-07-20,2017-10-18 10:43:00,45906,11.598,True,Finance
8,Angela,Female,2005-11-22,2017-10-18 06:29:00,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,2017-10-18 06:51:00,139852,7.524,True,Business Development
10,Louise,Female,1980-08-12,2017-10-18 09:01:00,63241,15.132,True,NaN
11,Julie,Female,1997-10-26,2017-10-18 15:19:00,102508,12.637,True,Legal
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
14,Kimberly,Female,1999-01-14,2017-10-18 07:13:00,41426,14.543,True,Finance
20,Lois,NaN,1995-04-22,2017-10-18 19:18:00,64714,4.934,True,Legal
22,Joshua,NaN,2012-03-08,2017-10-18 01:58:00,90816,18.816,True,Client Services
23,NaN,Male,2012-06-14,2017-10-18 16:19:00,125792,5.042,True,NaN
25,NaN,Male,2012-10-08,2017-10-18 01:12:00,37076,18.576,True,Client Services
26,Craig,Male,2000-02-27,2017-10-18 07:45:00,37598,7.757,True,Marketing
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
30,Christina,Female,2002-08-06,2017-10-18 13:19:00,118780,9.096,True,Engineering
32,NaN,Male,1998-08-21,2017-10-18 14:27:00,122340,6.417,True,NaN
37,Linda,Female,1981-10-19,2017-10-18 20:49:00,57427,9.557,True,Client Services
38,Stephanie,Female,1986-09-13,2017-10-18 01:52:00,36844,5.574,True,Business Development
39,NaN,Male,2016-01-29,2017-10-18 02:33:00,122173,7.797,True,Client Services
40,Michael,Male,2008-10-10,2017-10-18 11:25:00,99283,2.665,True,Distribution
41,Christine,NaN,2015-06-28,2017-10-18 01:08:00,66582,11.308,True,Business Development
43,Marilyn,Female,1980-12-07,2017-10-18 03:16:00,73524,5.207,True,Marketing
44,Cynthia,Female,1988-11-16,2017-10-18 18:54:00,145146,7.482,True,Product
45,Roger,Male,1980-04-17,2017-10-18 11:32:00,88010,13.886,True,Sales
47,Kathy,Female,2005-06-22,2017-10-18 04:51:00,66820,9.000,True,Client Services
...,...,...,...,...,...,...,...,...
945,Gerald,NaN,1989-04-15,2017-10-18 12:44:00,93712,17.426,True,Distribution
946,NaN,Female,1985-09-15,2017-10-18 01:50:00,133472,16.941,True,Distribution
947,NaN,Male,2012-07-30,2017-10-18 15:07:00,107351,5.329,True,Marketing
948,Ashley,Female,2006-03-31,2017-10-18 13:24:00,142410,11.048,True,Engineering
949,Scott,Male,2011-08-20,2017-10-18 08:08:00,37385,8.226,True,Business Development
951,NaN,Female,2010-09-14,2017-10-18 05:19:00,143638,9.662,True,NaN
952,Teresa,Female,2013-01-22,2017-10-18 15:17:00,113425,11.907,True,Human Resources
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
959,Albert,Male,1992-09-19,2017-10-18 02:35:00,45094,5.850,True,Business Development
960,Stephen,Male,1989-10-29,2017-10-18 23:34:00,93997,18.093,True,Business Development
963,Ann,Female,1994-09-23,2017-10-18 11:15:00,89443,17.940,True,Sales
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
966,Louis,Male,2011-08-16,2017-10-18 17:19:00,93022,9.146,True,Human Resources
969,Linda,Female,2010-02-04,2017-10-18 20:49:00,44486,17.308,True,Engineering
970,Alice,Female,1988-09-03,2017-10-18 20:54:00,63571,15.397,True,Product
971,Patrick,Male,2002-12-30,2017-10-18 02:01:00,75423,5.368,True,Business Development
972,Victor,NaN,2006-07-28,2017-10-18 14:49:00,76381,11.159,True,Sales
974,Harry,Male,2011-08-30,2017-10-18 18:31:00,67656,16.455,True,Client Services
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
980,Kimberly,Female,2013-01-26,2017-10-18 00:57:00,46233,8.862,True,Engineering
982,Rose,Female,1982-04-06,2017-10-18 10:43:00,91411,8.639,True,Human Resources
987,Gloria,Female,2014-12-08,2017-10-18 05:08:00,136709,10.331,True,Finance
990,Robin,Female,1987-07-24,2017-10-18 13:35:00,100765,10.982,True,Client Services
991,Rose,Female,2002-08-25,2017-10-18 05:12:00,134505,11.051,True,Marketing
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
993,Tina,Female,1997-05-15,2017-10-18 15:53:00,56450,19.040,True,Engineering
994,George,Male,2013-06-21,2017-10-18 17:47:00,98874,4.479,True,Marketing
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [28]:
mask = df["Team"] != "Marketing"
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2017-10-18 16:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2017-10-18 16:20:00,65476,10.012,True,Product
7,NaN,Female,2015-07-20,2017-10-18 10:43:00,45906,11.598,True,Finance
8,Angela,Female,2005-11-22,2017-10-18 06:29:00,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,2017-10-18 06:51:00,139852,7.524,True,Business Development
10,Louise,Female,1980-08-12,2017-10-18 09:01:00,63241,15.132,True,NaN
11,Julie,Female,1997-10-26,2017-10-18 15:19:00,102508,12.637,True,Legal
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
13,Gary,Male,2008-01-27,2017-10-18 23:40:00,109831,5.831,False,Sales
14,Kimberly,Female,1999-01-14,2017-10-18 07:13:00,41426,14.543,True,Finance
15,Lillian,Female,2016-06-05,2017-10-18 06:09:00,59414,1.256,False,Product
16,Jeremy,Male,2010-09-21,2017-10-18 05:56:00,90370,7.369,False,Human Resources
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
18,Diana,Female,1981-10-23,2017-10-18 10:27:00,132940,19.082,False,Client Services
19,Donna,Female,2010-07-22,2017-10-18 03:48:00,81014,1.894,False,Product
20,Lois,NaN,1995-04-22,2017-10-18 19:18:00,64714,4.934,True,Legal
22,Joshua,NaN,2012-03-08,2017-10-18 01:58:00,90816,18.816,True,Client Services
23,NaN,Male,2012-06-14,2017-10-18 16:19:00,125792,5.042,True,NaN
24,John,Male,1992-07-01,2017-10-18 22:08:00,97950,13.873,False,Client Services
25,NaN,Male,2012-10-08,2017-10-18 01:12:00,37076,18.576,True,Client Services
27,Scott,NaN,1991-07-11,2017-10-18 18:58:00,122367,5.218,False,Legal
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
30,Christina,Female,2002-08-06,2017-10-18 13:19:00,118780,9.096,True,Engineering
31,Joyce,NaN,2005-02-20,2017-10-18 14:40:00,88657,12.752,False,Product
32,NaN,Male,1998-08-21,2017-10-18 14:27:00,122340,6.417,True,NaN
...,...,...,...,...,...,...,...,...
967,Thomas,Male,2016-03-12,2017-10-18 15:10:00,105681,19.572,False,Engineering
968,Louise,Female,1995-03-27,2017-10-18 22:27:00,43050,11.671,False,Distribution
969,Linda,Female,2010-02-04,2017-10-18 20:49:00,44486,17.308,True,Engineering
970,Alice,Female,1988-09-03,2017-10-18 20:54:00,63571,15.397,True,Product
971,Patrick,Male,2002-12-30,2017-10-18 02:01:00,75423,5.368,True,Business Development
972,Victor,NaN,2006-07-28,2017-10-18 14:49:00,76381,11.159,True,Sales
973,Russell,Male,2013-05-10,2017-10-18 23:08:00,137359,11.105,False,Business Development
974,Harry,Male,2011-08-30,2017-10-18 18:31:00,67656,16.455,True,Client Services
975,Susan,Female,1995-04-07,2017-10-18 22:05:00,92436,12.467,False,Sales
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
977,Sarah,Female,1995-12-04,2017-10-18 09:16:00,124566,5.949,False,Product
978,Sean,Male,1983-01-17,2017-10-18 14:23:00,66146,11.178,False,Human Resources
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
980,Kimberly,Female,2013-01-26,2017-10-18 00:57:00,46233,8.862,True,Engineering
981,James,Male,1993-01-15,2017-10-18 17:19:00,148985,19.280,False,Legal
982,Rose,Female,1982-04-06,2017-10-18 10:43:00,91411,8.639,True,Human Resources
983,John,Male,1982-12-23,2017-10-18 22:35:00,146907,11.738,False,Engineering
984,Maria,Female,2011-10-15,2017-10-18 16:53:00,43455,13.040,False,Engineering
985,Stephen,NaN,1983-07-10,2017-10-18 20:10:00,85668,1.909,False,Legal
987,Gloria,Female,2014-12-08,2017-10-18 05:08:00,136709,10.331,True,Finance
988,Alice,Female,2004-10-05,2017-10-18 09:34:00,47638,11.209,False,Human Resources
989,Justin,NaN,1991-02-10,2017-10-18 16:58:00,38344,3.794,False,Legal
990,Robin,Female,1987-07-24,2017-10-18 13:35:00,100765,10.982,True,Client Services
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
993,Tina,Female,1997-05-15,2017-10-18 15:53:00,56450,19.040,True,Engineering
995,Henry,NaN,2014-11-23,2017-10-18 06:09:00,132483,16.655,False,Distribution
996,Phillip,Male,1984-01-31,2017-10-18 06:30:00,42392,19.675,False,Finance
997,Russell,Male,2013-05-20,2017-10-18 12:39:00,96914,1.421,False,Product
998,Larry,Male,2013-04-20,2017-10-18 16:45:00,60500,11.985,False,Business Development
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [30]:
df[df["Salary"] > 110000]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
9,Frances,Female,2002-08-08,2017-10-18 06:51:00,139852,7.524,True,Business Development
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
18,Diana,Female,1981-10-23,2017-10-18 10:27:00,132940,19.082,False,Client Services
23,NaN,Male,2012-06-14,2017-10-18 16:19:00,125792,5.042,True,NaN
27,Scott,NaN,1991-07-11,2017-10-18 18:58:00,122367,5.218,False,Legal
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
30,Christina,Female,2002-08-06,2017-10-18 13:19:00,118780,9.096,True,Engineering
32,NaN,Male,1998-08-21,2017-10-18 14:27:00,122340,6.417,True,NaN
33,Jean,Female,1993-12-18,2017-10-18 09:07:00,119082,16.180,False,Business Development
36,Rachel,Female,2009-02-16,2017-10-18 20:47:00,142032,12.599,False,Business Development
39,NaN,Male,2016-01-29,2017-10-18 02:33:00,122173,7.797,True,Client Services
42,Beverly,Female,1998-09-09,2017-10-18 20:26:00,121918,15.835,False,Legal
44,Cynthia,Female,1988-11-16,2017-10-18 18:54:00,145146,7.482,True,Product
46,Bruce,Male,2009-11-28,2017-10-18 22:47:00,114796,6.796,False,Finance
49,Chris,NaN,1980-01-24,2017-10-18 12:13:00,113590,3.055,False,Sales
56,Carl,Male,2006-05-03,2017-10-18 17:55:00,130276,16.084,True,Finance
66,Nancy,Female,2012-12-15,2017-10-18 23:57:00,125250,2.672,True,Business Development
71,Johnny,Male,2009-11-06,2017-10-18 16:23:00,118172,16.194,True,Sales
76,Margaret,Female,1988-09-10,2017-10-18 12:42:00,131604,7.353,True,Distribution
78,Robin,Female,1983-06-04,2017-10-18 15:15:00,114797,5.965,True,Sales
79,Bonnie,Female,1988-11-13,2017-10-18 15:30:00,115814,4.990,False,Product
80,Gerald,NaN,1995-03-17,2017-10-18 00:50:00,137126,15.602,True,Sales
83,Shawn,Male,2005-09-23,2017-10-18 02:55:00,148115,6.539,True,Finance
87,Annie,Female,1993-01-30,2017-10-18 02:05:00,144887,8.276,True,Sales
91,James,NaN,2005-01-26,2017-10-18 23:00:00,128771,8.309,False,NaN
92,Linda,Female,2000-05-25,2017-10-18 17:45:00,119009,12.506,True,Business Development
...,...,...,...,...,...,...,...,...
905,Alice,Female,2013-02-09,2017-10-18 00:49:00,121250,4.363,True,Finance
907,Elizabeth,Female,1998-07-27,2017-10-18 11:12:00,137144,10.081,False,Finance
912,Joe,Male,1998-12-08,2017-10-18 10:28:00,126120,1.020,False,NaN
915,Todd,Male,1983-01-04,2017-10-18 12:34:00,115566,6.716,True,Client Services
916,Marilyn,Female,1996-01-16,2017-10-18 07:18:00,118369,7.696,True,Business Development
919,Sean,Male,2009-03-21,2017-10-18 11:38:00,131423,8.957,False,Distribution
923,Irene,NaN,1991-02-28,2017-10-18 22:23:00,135369,4.380,False,Business Development
928,Jeffrey,Male,1986-09-20,2017-10-18 06:06:00,111376,2.673,True,Business Development
931,Harold,Male,2012-06-23,2017-10-18 12:40:00,140444,3.771,False,Distribution
933,Doris,Female,1993-07-05,2017-10-18 17:54:00,141439,3.799,False,Business Development
935,Alice,Female,1996-03-23,2017-10-18 03:09:00,131952,12.090,False,Engineering
940,Andrew,Male,1990-09-28,2017-10-18 09:38:00,137386,8.611,True,Distribution
946,NaN,Female,1985-09-15,2017-10-18 01:50:00,133472,16.941,True,Distribution
948,Ashley,Female,2006-03-31,2017-10-18 13:24:00,142410,11.048,True,Engineering
951,NaN,Female,2010-09-14,2017-10-18 05:19:00,143638,9.662,True,NaN
952,Teresa,Female,2013-01-22,2017-10-18 15:17:00,113425,11.907,True,Human Resources
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
955,Sarah,Female,2014-08-17,2017-10-18 23:08:00,127118,11.176,False,Legal
962,Jonathan,Male,2013-08-21,2017-10-18 00:45:00,121797,16.923,False,Product
973,Russell,Male,2013-05-10,2017-10-18 23:08:00,137359,11.105,False,Business Development
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
977,Sarah,Female,1995-12-04,2017-10-18 09:16:00,124566,5.949,False,Product
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
981,James,Male,1993-01-15,2017-10-18 17:19:00,148985,19.280,False,Legal
983,John,Male,1982-12-23,2017-10-18 22:35:00,146907,11.738,False,Engineering
987,Gloria,Female,2014-12-08,2017-10-18 05:08:00,136709,10.331,True,Finance
991,Rose,Female,2002-08-25,2017-10-18 05:12:00,134505,11.051,True,Marketing
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
995,Henry,NaN,2014-11-23,2017-10-18 06:09:00,132483,16.655,False,Distribution
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [33]:
df[df["Bonus %"] < 1.5]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
4,Larry,Male,1998-01-24,2017-10-18 16:47:00,101004,1.389,True,Client Services
15,Lillian,Female,2016-06-05,2017-10-18 06:09:00,59414,1.256,False,Product
58,Theresa,Female,2010-04-11,2017-10-18 07:18:00,72670,1.481,True,Engineering
77,Charles,Male,2004-09-14,2017-10-18 20:13:00,107391,1.260,True,Marketing
175,Willie,Male,1998-02-17,2017-10-18 20:20:00,146651,1.451,True,Engineering
189,Clarence,Male,1998-05-02,2017-10-18 03:16:00,85700,1.215,False,Sales
217,Douglas,Male,1999-09-03,2017-10-18 16:00:00,83341,1.015,True,Client Services
273,Nicholas,Male,1994-04-12,2017-10-18 20:21:00,74669,1.113,True,Product
279,Ruby,Female,2000-11-08,2017-10-18 19:35:00,105946,1.139,False,Business Development
365,Gloria,NaN,1983-07-19,2017-10-18 01:57:00,140885,1.113,False,Human Resources
445,Chris,Male,2006-12-12,2017-10-18 01:57:00,71642,1.496,False,NaN
481,NaN,Female,2013-04-27,2017-10-18 06:40:00,93847,1.085,True,Business Development
527,Helen,NaN,1993-12-02,2017-10-18 13:42:00,45724,1.022,False,Product
570,Kelly,Female,1996-08-16,2017-10-18 03:09:00,41427,1.431,False,Product
578,Amanda,Female,1982-03-17,2017-10-18 23:46:00,107111,1.438,True,Product
579,Harold,Male,2010-10-18,2017-10-18 20:45:00,65673,1.187,True,Legal
617,Kathy,Female,2001-01-14,2017-10-18 05:11:00,45682,1.451,True,Marketing
618,Peter,Male,1992-11-24,2017-10-18 17:43:00,69297,1.268,False,Finance
638,Frances,Female,1996-11-12,2017-10-18 18:08:00,112467,1.433,False,Business Development
652,Willie,Male,2009-12-05,2017-10-18 05:39:00,141932,1.017,True,Engineering
708,Steve,Male,2002-01-11,2017-10-18 21:17:00,51821,1.197,True,Legal
732,Henry,Male,1986-05-12,2017-10-18 02:04:00,59943,1.432,False,Finance
734,NaN,Female,1994-12-18,2017-10-18 20:42:00,138807,1.400,True,Human Resources
746,Gloria,Female,2004-08-19,2017-10-18 10:31:00,46602,1.027,True,Business Development
912,Joe,Male,1998-12-08,2017-10-18 10:28:00,126120,1.020,False,NaN
929,Theresa,Female,2001-04-27,2017-10-18 21:17:00,75661,1.079,True,Legal
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
997,Russell,Male,2013-05-20,2017-10-18 12:39:00,96914,1.421,False,Product

In [36]:
mask = df["Start Date"] <= "1985-01-01"
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
10,Louise,Female,1980-08-12,2017-10-18 09:01:00,63241,15.132,True,NaN
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
18,Diana,Female,1981-10-23,2017-10-18 10:27:00,132940,19.082,False,Client Services
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
37,Linda,Female,1981-10-19,2017-10-18 20:49:00,57427,9.557,True,Client Services
43,Marilyn,Female,1980-12-07,2017-10-18 03:16:00,73524,5.207,True,Marketing
45,Roger,Male,1980-04-17,2017-10-18 11:32:00,88010,13.886,True,Sales
49,Chris,NaN,1980-01-24,2017-10-18 12:13:00,113590,3.055,False,Sales
78,Robin,Female,1983-06-04,2017-10-18 15:15:00,114797,5.965,True,Sales
82,Steven,Male,1980-03-30,2017-10-18 21:20:00,35095,8.379,True,Client Services
94,Harry,Male,1981-08-26,2017-10-18 15:16:00,130620,7.030,False,Legal
115,Pamela,Female,1982-07-01,2017-10-18 06:51:00,54585,4.166,False,Product
124,Marilyn,Female,1983-11-16,2017-10-18 08:29:00,76078,2.401,True,Product
126,Michelle,Female,1984-03-30,2017-10-18 18:43:00,57325,17.179,True,Human Resources
130,Shirley,Female,1984-05-01,2017-10-18 13:15:00,41334,6.219,True,Human Resources
140,Shirley,Female,1981-02-28,2017-10-18 13:23:00,113850,1.854,False,Marketing
144,Nicole,NaN,1982-03-05,2017-10-18 14:28:00,122717,12.452,False,Sales
154,Rebecca,Female,1980-11-15,2017-10-18 04:13:00,85730,5.359,True,Product
159,James,NaN,1983-11-22,2017-10-18 22:52:00,68501,14.316,False,Marketing
185,Sandra,Female,1983-01-19,2017-10-18 07:25:00,42090,8.842,True,Legal
202,Roger,Male,1982-11-08,2017-10-18 02:32:00,140558,5.084,True,Sales
213,Evelyn,Female,1980-05-24,2017-10-18 23:10:00,81673,15.364,True,Engineering
234,Irene,Female,1982-02-04,2017-10-18 17:26:00,40837,12.182,True,Client Services
238,Kevin,Male,1982-03-25,2017-10-18 07:31:00,35061,5.128,False,Legal
240,Phyllis,NaN,1984-04-21,2017-10-18 19:05:00,94088,19.107,False,Distribution
241,Walter,Male,1983-07-06,2017-10-18 23:54:00,127813,5.961,False,Finance
246,Fred,NaN,1984-12-02,2017-10-18 14:03:00,59937,12.045,True,Human Resources
264,Stephanie,Female,1983-03-24,2017-10-18 11:15:00,50141,13.218,True,Human Resources
268,Irene,Female,1982-03-03,2017-10-18 08:26:00,56526,5.810,True,Finance
272,Fred,Male,1980-02-20,2017-10-18 02:25:00,74129,18.225,False,Product
...,...,...,...,...,...,...,...,...
784,Stephanie,Female,1982-09-14,2017-10-18 08:14:00,96649,3.453,False,Sales
785,NaN,Female,1982-07-24,2017-10-18 00:00:00,57811,8.941,True,Marketing
791,Joseph,Male,1982-11-04,2017-10-18 21:46:00,126010,19.601,False,Legal
797,Rose,Female,1982-12-31,2017-10-18 18:50:00,145001,19.850,False,Engineering
798,Lawrence,Male,1984-10-01,2017-10-18 14:06:00,102589,17.952,True,Marketing
808,Julie,Female,1980-03-08,2017-10-18 05:13:00,145357,3.459,False,Engineering
818,Ann,Female,1980-10-03,2017-10-18 01:08:00,96941,10.048,True,Distribution
821,NaN,Female,1980-12-27,2017-10-18 02:27:00,80399,12.254,True,Distribution
834,Carl,NaN,1982-02-11,2017-10-18 07:54:00,49325,2.071,True,Business Development
843,Louise,Female,1982-02-26,2017-10-18 01:03:00,106362,8.965,False,Sales
845,Brenda,Female,1981-01-03,2017-10-18 18:01:00,131131,11.682,False,Client Services
847,Nicole,NaN,1981-05-02,2017-10-18 12:03:00,41449,4.707,False,Finance
848,Bobby,Male,1984-06-05,2017-10-18 07:40:00,93368,2.880,True,Product
860,Phillip,Male,1984-10-07,2017-10-18 11:05:00,36837,14.660,False,Marketing
862,Ronald,Male,1983-05-25,2017-10-18 10:05:00,50426,18.536,True,Sales
863,Phillip,Male,1984-05-15,2017-10-18 06:15:00,134120,6.842,False,Human Resources
877,NaN,Male,1980-09-05,2017-10-18 07:36:00,114896,13.823,True,Client Services
881,Ruby,Female,1980-01-28,2017-10-18 23:08:00,142868,6.318,False,Marketing
903,Heather,Female,1983-07-29,2017-10-18 10:48:00,47605,14.955,True,Human Resources
915,Todd,Male,1983-01-04,2017-10-18 12:34:00,115566,6.716,True,Client Services
950,Paula,Female,1983-05-21,2017-10-18 11:42:00,58423,10.833,False,Business Development
954,Joe,Male,1980-01-19,2017-10-18 16:06:00,119667,1.148,True,Finance
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
978,Sean,Male,1983-01-17,2017-10-18 14:23:00,66146,11.178,False,Human Resources
982,Rose,Female,1982-04-06,2017-10-18 10:43:00,91411,8.639,True,Human Resources
983,John,Male,1982-12-23,2017-10-18 22:35:00,146907,11.738,False,Engineering
985,Stephen,NaN,1983-07-10,2017-10-18 20:10:00,85668,1.909,False,Legal
986,Donna,Female,1982-11-26,2017-10-18 07:04:00,82871,17.999,False,Marketing
996,Phillip,Male,1984-01-31,2017-10-18 06:30:00,42392,19.675,False,Finance

### 3. Filter with More than One Condition (AND)

In [37]:
df = pd.read_csv("../00_Datasers/employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2017-10-18 11:17:00,130590,11.858,False,Finance

In [43]:
mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"
df[mask1 & mask2]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
21,Matthew,Male,1995-09-05,2017-10-18 02:12:00,100612,13.645,False,Marketing
26,Craig,Male,2000-02-27,2017-10-18 07:45:00,37598,7.757,True,Marketing
74,Thomas,Male,1995-06-04,2017-10-18 14:24:00,62096,17.029,False,Marketing
77,Charles,Male,2004-09-14,2017-10-18 20:13:00,107391,1.260,True,Marketing
101,Aaron,Male,2012-02-17,2017-10-18 10:20:00,61602,11.849,True,Marketing
104,John,Male,1989-12-23,2017-10-18 07:01:00,80740,19.305,False,Marketing
112,Willie,Male,2003-11-27,2017-10-18 06:21:00,64363,4.023,False,Marketing
119,Paul,Male,2008-06-03,2017-10-18 15:05:00,41054,12.299,False,Marketing
150,Sean,Male,1996-05-04,2017-10-18 20:59:00,135490,19.934,False,Marketing
187,Roger,Male,2004-11-19,2017-10-18 15:55:00,51430,6.460,False,Marketing
204,Willie,Male,2006-06-06,2017-10-18 09:45:00,55281,4.935,True,Marketing
216,Matthew,Male,2013-07-31,2017-10-18 08:04:00,142373,2.462,False,Marketing
252,Ralph,Male,2004-11-11,2017-10-18 01:35:00,71896,4.232,True,Marketing
274,Howard,Male,1982-10-05,2017-10-18 07:22:00,97490,5.460,True,Marketing
293,Jesse,Male,1999-10-25,2017-10-18 15:35:00,118733,9.653,False,Marketing
309,Benjamin,Male,1984-09-11,2017-10-18 06:37:00,84810,15.794,False,Marketing
327,Aaron,Male,1994-01-29,2017-10-18 18:48:00,58755,5.097,True,Marketing
353,NaN,Male,1997-04-22,2017-10-18 21:36:00,65078,3.095,True,Marketing
403,Craig,Male,1984-02-08,2017-10-18 04:45:00,113506,19.642,False,Marketing
413,Johnny,Male,1992-09-14,2017-10-18 08:21:00,115194,5.861,True,Marketing
452,Scott,Male,2012-11-17,2017-10-18 14:47:00,146812,1.965,True,Marketing
454,NaN,Male,1995-02-21,2017-10-18 00:26:00,136602,10.429,True,Marketing
461,Jeremy,Male,2001-08-09,2017-10-18 03:56:00,43354,13.946,False,Marketing
464,Lawrence,Male,2005-05-13,2017-10-18 01:25:00,74640,18.641,False,Marketing
484,Joe,Male,2000-04-14,2017-10-18 15:14:00,50645,11.119,False,Marketing
496,Johnny,Male,2016-02-26,2017-10-18 19:39:00,76394,5.437,True,Marketing
503,Roger,Male,2015-08-03,2017-10-18 16:56:00,125033,4.887,True,Marketing
544,Roger,Male,2010-07-03,2017-10-18 17:11:00,105689,13.320,True,Marketing
550,Gregory,Male,1984-06-18,2017-10-18 03:46:00,82726,16.304,True,Marketing
556,Arthur,Male,2014-12-16,2017-10-18 16:56:00,66819,6.639,True,Marketing
571,Jonathan,Male,1995-04-06,2017-10-18 22:38:00,56993,18.623,False,Marketing
581,Ernest,Male,1990-01-28,2017-10-18 00:08:00,81919,15.118,False,Marketing
696,Samuel,Male,2012-05-25,2017-10-18 16:40:00,85550,11.593,True,Marketing
722,Joshua,Male,1997-06-27,2017-10-18 15:23:00,95003,5.197,True,Marketing
798,Lawrence,Male,1984-10-01,2017-10-18 14:06:00,102589,17.952,True,Marketing
860,Phillip,Male,1984-10-07,2017-10-18 11:05:00,36837,14.660,False,Marketing
867,Earl,Male,2013-06-15,2017-10-18 03:00:00,48046,7.737,False,Marketing
899,Walter,Male,1992-05-21,2017-10-18 00:39:00,144701,16.323,True,Marketing
947,NaN,Male,2012-07-30,2017-10-18 15:07:00,107351,5.329,True,Marketing
994,George,Male,2013-06-21,2017-10-18 17:47:00,98874,4.479,True,Marketing

### 4. Filter with More than One Condition (OR)

In [48]:
mask1 = df["Senior Management"]
mask2 = df["Start Date"] < "1990-01-01"

df[mask1 | mask2]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2017-10-18 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2017-10-18 06:53:00,61933,4.170,True,NaN
3,Jerry,Male,2005-03-04,2017-10-18 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2017-10-18 16:47:00,101004,1.389,True,Client Services
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2017-10-18 16:20:00,65476,10.012,True,Product
7,NaN,Female,2015-07-20,2017-10-18 10:43:00,45906,11.598,True,Finance
8,Angela,Female,2005-11-22,2017-10-18 06:29:00,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,2017-10-18 06:51:00,139852,7.524,True,Business Development
10,Louise,Female,1980-08-12,2017-10-18 09:01:00,63241,15.132,True,NaN
11,Julie,Female,1997-10-26,2017-10-18 15:19:00,102508,12.637,True,Legal
12,Brandon,Male,1980-12-01,2017-10-18 01:08:00,112807,17.492,True,Human Resources
14,Kimberly,Female,1999-01-14,2017-10-18 07:13:00,41426,14.543,True,Finance
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
18,Diana,Female,1981-10-23,2017-10-18 10:27:00,132940,19.082,False,Client Services
20,Lois,NaN,1995-04-22,2017-10-18 19:18:00,64714,4.934,True,Legal
22,Joshua,NaN,2012-03-08,2017-10-18 01:58:00,90816,18.816,True,Client Services
23,NaN,Male,2012-06-14,2017-10-18 16:19:00,125792,5.042,True,NaN
25,NaN,Male,2012-10-08,2017-10-18 01:12:00,37076,18.576,True,Client Services
26,Craig,Male,2000-02-27,2017-10-18 07:45:00,37598,7.757,True,Marketing
28,Terry,Male,1981-11-27,2017-10-18 18:30:00,124008,13.464,True,Client Services
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
30,Christina,Female,2002-08-06,2017-10-18 13:19:00,118780,9.096,True,Engineering
32,NaN,Male,1998-08-21,2017-10-18 14:27:00,122340,6.417,True,NaN
37,Linda,Female,1981-10-19,2017-10-18 20:49:00,57427,9.557,True,Client Services
38,Stephanie,Female,1986-09-13,2017-10-18 01:52:00,36844,5.574,True,Business Development
39,NaN,Male,2016-01-29,2017-10-18 02:33:00,122173,7.797,True,Client Services
40,Michael,Male,2008-10-10,2017-10-18 11:25:00,99283,2.665,True,Distribution
41,Christine,NaN,2015-06-28,2017-10-18 01:08:00,66582,11.308,True,Business Development
43,Marilyn,Female,1980-12-07,2017-10-18 03:16:00,73524,5.207,True,Marketing
...,...,...,...,...,...,...,...,...
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
958,Gloria,Female,1987-10-24,2017-10-18 04:43:00,39833,9.631,False,Engineering
959,Albert,Male,1992-09-19,2017-10-18 02:35:00,45094,5.850,True,Business Development
960,Stephen,Male,1989-10-29,2017-10-18 23:34:00,93997,18.093,True,Business Development
961,Antonio,NaN,1989-06-18,2017-10-18 21:37:00,103050,3.050,False,Legal
963,Ann,Female,1994-09-23,2017-10-18 11:15:00,89443,17.940,True,Sales
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
965,Catherine,Female,1989-09-25,2017-10-18 01:31:00,68164,18.393,False,Client Services
966,Louis,Male,2011-08-16,2017-10-18 17:19:00,93022,9.146,True,Human Resources
969,Linda,Female,2010-02-04,2017-10-18 20:49:00,44486,17.308,True,Engineering
970,Alice,Female,1988-09-03,2017-10-18 20:54:00,63571,15.397,True,Product
971,Patrick,Male,2002-12-30,2017-10-18 02:01:00,75423,5.368,True,Business Development
972,Victor,NaN,2006-07-28,2017-10-18 14:49:00,76381,11.159,True,Sales
974,Harry,Male,2011-08-30,2017-10-18 18:31:00,67656,16.455,True,Client Services
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
978,Sean,Male,1983-01-17,2017-10-18 14:23:00,66146,11.178,False,Human Resources
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
980,Kimberly,Female,2013-01-26,2017-10-18 00:57:00,46233,8.862,True,Engineering
982,Rose,Female,1982-04-06,2017-10-18 10:43:00,91411,8.639,True,Human Resources
983,John,Male,1982-12-23,2017-10-18 22:35:00,146907,11.738,False,Engineering
985,Stephen,NaN,1983-07-10,2017-10-18 20:10:00,85668,1.909,False,Legal
986,Donna,Female,1982-11-26,2017-10-18 07:04:00,82871,17.999,False,Marketing
987,Gloria,Female,2014-12-08,2017-10-18 05:08:00,136709,10.331,True,Finance
990,Robin,Female,1987-07-24,2017-10-18 13:35:00,100765,10.982,True,Client Services
991,Rose,Female,2002-08-25,2017-10-18 05:12:00,134505,11.051,True,Marketing
992,Anthony,Male,2011-10-16,2017-10-18 08:35:00,112769,11.625,True,Finance
993,Tina,Female,1997-05-15,2017-10-18 15:53:00,56450,19.040,True,Engineering
994,George,Male,2013-06-21,2017-10-18 17:47:00,98874,4.479,True,Marketing
996,Phillip,Male,1984-01-31,2017-10-18 06:30:00,42392,19.675,False,Finance
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [57]:
mask1 = df["First Name"] == "Robert"
mask2 = df["Team"] == "Client Services"
mask3 = df["Start Date"] > "2016-06-01"

df[(mask1 & mask2) | mask3]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
15,Lillian,Female,2016-06-05,2017-10-18 06:09:00,59414,1.256,False,Product
98,Tina,Female,2016-06-16,2017-10-18 19:47:00,100705,16.961,True,Marketing
387,Robert,Male,1994-10-29,2017-10-18 04:26:00,123294,19.894,False,Client Services
451,Terry,NaN,2016-07-15,2017-10-18 00:29:00,140002,19.490,True,Marketing

### 5. The .isin() Method

In [60]:
mask1 = df["Team"] == "Legal"
mask2 = df["Team"] == "Sales"
mask3 = df["Team"] == "Product"

df[mask1 | mask2 | mask3]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2017-10-18 16:20:00,65476,10.012,True,Product
11,Julie,Female,1997-10-26,2017-10-18 15:19:00,102508,12.637,True,Legal
13,Gary,Male,2008-01-27,2017-10-18 23:40:00,109831,5.831,False,Sales
15,Lillian,Female,2016-06-05,2017-10-18 06:09:00,59414,1.256,False,Product
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
19,Donna,Female,2010-07-22,2017-10-18 03:48:00,81014,1.894,False,Product
20,Lois,NaN,1995-04-22,2017-10-18 19:18:00,64714,4.934,True,Legal
27,Scott,NaN,1991-07-11,2017-10-18 18:58:00,122367,5.218,False,Legal
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
31,Joyce,NaN,2005-02-20,2017-10-18 14:40:00,88657,12.752,False,Product
35,Theresa,Female,2006-10-10,2017-10-18 01:12:00,85182,16.675,False,Sales
42,Beverly,Female,1998-09-09,2017-10-18 20:26:00,121918,15.835,False,Legal
44,Cynthia,Female,1988-11-16,2017-10-18 18:54:00,145146,7.482,True,Product
45,Roger,Male,1980-04-17,2017-10-18 11:32:00,88010,13.886,True,Sales
49,Chris,NaN,1980-01-24,2017-10-18 12:13:00,113590,3.055,False,Sales
51,NaN,NaN,2011-12-17,2017-10-18 08:29:00,41126,14.009,True,Sales
55,Karen,Female,1999-11-30,2017-10-18 07:46:00,102488,17.653,True,Product
71,Johnny,Male,2009-11-06,2017-10-18 16:23:00,118172,16.194,True,Sales
72,Bobby,Male,2007-05-07,2017-10-18 10:01:00,54043,3.833,False,Product
73,Frances,Female,1999-04-04,2017-10-18 16:19:00,90582,4.709,True,Sales
78,Robin,Female,1983-06-04,2017-10-18 15:15:00,114797,5.965,True,Sales
79,Bonnie,Female,1988-11-13,2017-10-18 15:30:00,115814,4.990,False,Product
80,Gerald,NaN,1995-03-17,2017-10-18 00:50:00,137126,15.602,True,Sales
81,Christopher,Male,2008-03-30,2017-10-18 10:52:00,47369,14.822,False,Legal
87,Annie,Female,1993-01-30,2017-10-18 02:05:00,144887,8.276,True,Sales
88,Donna,Female,1991-11-27,2017-10-18 13:59:00,64088,6.155,True,Legal
89,Janice,Female,2016-03-12,2017-10-18 00:40:00,51082,11.955,False,Legal
90,Janice,NaN,1997-08-21,2017-10-18 05:12:00,91719,11.583,True,Legal
93,Virginia,NaN,1994-05-07,2017-10-18 17:58:00,111858,1.601,True,Legal
...,...,...,...,...,...,...,...,...
886,Anthony,Male,2014-01-30,2017-10-18 21:04:00,96795,14.837,False,Sales
887,David,Male,2009-12-05,2017-10-18 08:48:00,92242,15.407,False,Legal
888,Marilyn,Female,2007-10-08,2017-10-18 00:32:00,115149,11.934,True,Legal
892,Brandon,Male,1995-10-23,2017-10-18 12:04:00,60263,2.709,False,Sales
896,Victor,Male,2010-03-10,2017-10-18 17:01:00,45267,3.942,True,Sales
906,Frances,Female,2014-05-16,2017-10-18 08:31:00,35884,17.667,False,Sales
909,Donald,Male,1991-08-01,2017-10-18 02:25:00,61999,6.466,False,Product
910,Melissa,Female,2002-10-22,2017-10-18 01:20:00,45223,8.879,True,Legal
917,Shawn,Male,2008-03-13,2017-10-18 17:36:00,51667,6.339,False,Product
921,George,Male,2015-06-05,2017-10-18 05:40:00,50369,18.900,True,Sales
925,NaN,Female,2000-08-23,2017-10-18 16:19:00,95866,19.388,True,Sales
929,Theresa,Female,2001-04-27,2017-10-18 21:17:00,75661,1.079,True,Legal
953,Randy,Male,2012-02-25,2017-10-18 05:33:00,57266,14.077,False,Product
955,Sarah,Female,2014-08-17,2017-10-18 23:08:00,127118,11.176,False,Legal
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
961,Antonio,NaN,1989-06-18,2017-10-18 21:37:00,103050,3.050,False,Legal
962,Jonathan,Male,2013-08-21,2017-10-18 00:45:00,121797,16.923,False,Product
963,Ann,Female,1994-09-23,2017-10-18 11:15:00,89443,17.940,True,Sales
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
970,Alice,Female,1988-09-03,2017-10-18 20:54:00,63571,15.397,True,Product
972,Victor,NaN,2006-07-28,2017-10-18 14:49:00,76381,11.159,True,Sales
975,Susan,Female,1995-04-07,2017-10-18 22:05:00,92436,12.467,False,Sales
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
977,Sarah,Female,1995-12-04,2017-10-18 09:16:00,124566,5.949,False,Product
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
981,James,Male,1993-01-15,2017-10-18 17:19:00,148985,19.280,False,Legal
985,Stephen,NaN,1983-07-10,2017-10-18 20:10:00,85668,1.909,False,Legal
989,Justin,NaN,1991-02-10,2017-10-18 16:58:00,38344,3.794,False,Legal
997,Russell,Male,2013-05-20,2017-10-18 12:39:00,96914,1.421,False,Product
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales

In [62]:
mask = df["Team"].isin(["Legal", "Sales", "Product"])
df[mask]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
5,Dennis,Male,1987-04-18,2017-10-18 01:35:00,115163,10.125,False,Legal
6,Ruby,Female,1987-08-17,2017-10-18 16:20:00,65476,10.012,True,Product
11,Julie,Female,1997-10-26,2017-10-18 15:19:00,102508,12.637,True,Legal
13,Gary,Male,2008-01-27,2017-10-18 23:40:00,109831,5.831,False,Sales
15,Lillian,Female,2016-06-05,2017-10-18 06:09:00,59414,1.256,False,Product
17,Shawn,Male,1986-12-07,2017-10-18 19:45:00,111737,6.414,False,Product
19,Donna,Female,2010-07-22,2017-10-18 03:48:00,81014,1.894,False,Product
20,Lois,NaN,1995-04-22,2017-10-18 19:18:00,64714,4.934,True,Legal
27,Scott,NaN,1991-07-11,2017-10-18 18:58:00,122367,5.218,False,Legal
29,Benjamin,Male,2005-01-26,2017-10-18 22:06:00,79529,7.008,True,Legal
31,Joyce,NaN,2005-02-20,2017-10-18 14:40:00,88657,12.752,False,Product
35,Theresa,Female,2006-10-10,2017-10-18 01:12:00,85182,16.675,False,Sales
42,Beverly,Female,1998-09-09,2017-10-18 20:26:00,121918,15.835,False,Legal
44,Cynthia,Female,1988-11-16,2017-10-18 18:54:00,145146,7.482,True,Product
45,Roger,Male,1980-04-17,2017-10-18 11:32:00,88010,13.886,True,Sales
49,Chris,NaN,1980-01-24,2017-10-18 12:13:00,113590,3.055,False,Sales
51,NaN,NaN,2011-12-17,2017-10-18 08:29:00,41126,14.009,True,Sales
55,Karen,Female,1999-11-30,2017-10-18 07:46:00,102488,17.653,True,Product
71,Johnny,Male,2009-11-06,2017-10-18 16:23:00,118172,16.194,True,Sales
72,Bobby,Male,2007-05-07,2017-10-18 10:01:00,54043,3.833,False,Product
73,Frances,Female,1999-04-04,2017-10-18 16:19:00,90582,4.709,True,Sales
78,Robin,Female,1983-06-04,2017-10-18 15:15:00,114797,5.965,True,Sales
79,Bonnie,Female,1988-11-13,2017-10-18 15:30:00,115814,4.990,False,Product
80,Gerald,NaN,1995-03-17,2017-10-18 00:50:00,137126,15.602,True,Sales
81,Christopher,Male,2008-03-30,2017-10-18 10:52:00,47369,14.822,False,Legal
87,Annie,Female,1993-01-30,2017-10-18 02:05:00,144887,8.276,True,Sales
88,Donna,Female,1991-11-27,2017-10-18 13:59:00,64088,6.155,True,Legal
89,Janice,Female,2016-03-12,2017-10-18 00:40:00,51082,11.955,False,Legal
90,Janice,NaN,1997-08-21,2017-10-18 05:12:00,91719,11.583,True,Legal
93,Virginia,NaN,1994-05-07,2017-10-18 17:58:00,111858,1.601,True,Legal
...,...,...,...,...,...,...,...,...
886,Anthony,Male,2014-01-30,2017-10-18 21:04:00,96795,14.837,False,Sales
887,David,Male,2009-12-05,2017-10-18 08:48:00,92242,15.407,False,Legal
888,Marilyn,Female,2007-10-08,2017-10-18 00:32:00,115149,11.934,True,Legal
892,Brandon,Male,1995-10-23,2017-10-18 12:04:00,60263,2.709,False,Sales
896,Victor,Male,2010-03-10,2017-10-18 17:01:00,45267,3.942,True,Sales
906,Frances,Female,2014-05-16,2017-10-18 08:31:00,35884,17.667,False,Sales
909,Donald,Male,1991-08-01,2017-10-18 02:25:00,61999,6.466,False,Product
910,Melissa,Female,2002-10-22,2017-10-18 01:20:00,45223,8.879,True,Legal
917,Shawn,Male,2008-03-13,2017-10-18 17:36:00,51667,6.339,False,Product
921,George,Male,2015-06-05,2017-10-18 05:40:00,50369,18.900,True,Sales
925,NaN,Female,2000-08-23,2017-10-18 16:19:00,95866,19.388,True,Sales
929,Theresa,Female,2001-04-27,2017-10-18 21:17:00,75661,1.079,True,Legal
953,Randy,Male,2012-02-25,2017-10-18 05:33:00,57266,14.077,False,Product
955,Sarah,Female,2014-08-17,2017-10-18 23:08:00,127118,11.176,False,Legal
957,Jeffrey,Male,1984-02-03,2017-10-18 13:26:00,70990,15.901,True,Sales
961,Antonio,NaN,1989-06-18,2017-10-18 21:37:00,103050,3.050,False,Legal
962,Jonathan,Male,2013-08-21,2017-10-18 00:45:00,121797,16.923,False,Product
963,Ann,Female,1994-09-23,2017-10-18 11:15:00,89443,17.940,True,Sales
964,Bruce,Male,1980-05-07,2017-10-18 20:00:00,35802,12.391,True,Sales
970,Alice,Female,1988-09-03,2017-10-18 20:54:00,63571,15.397,True,Product
972,Victor,NaN,2006-07-28,2017-10-18 14:49:00,76381,11.159,True,Sales
975,Susan,Female,1995-04-07,2017-10-18 22:05:00,92436,12.467,False,Sales
976,Denise,Female,1992-10-19,2017-10-18 05:42:00,137954,4.195,True,Legal
977,Sarah,Female,1995-12-04,2017-10-18 09:16:00,124566,5.949,False,Product
979,Ernest,Male,2013-07-20,2017-10-18 06:41:00,142935,13.198,True,Product
981,James,Male,1993-01-15,2017-10-18 17:19:00,148985,19.280,False,Legal
985,Stephen,NaN,1983-07-10,2017-10-18 20:10:00,85668,1.909,False,Legal
989,Justin,NaN,1991-02-10,2017-10-18 16:58:00,38344,3.794,False,Legal
997,Russell,Male,2013-05-20,2017-10-18 12:39:00,96914,1.421,False,Product
999,Albert,Male,2012-05-15,2017-10-18 18:24:00,129949,10.169,True,Sales